<img src = "https://images2.imgbox.com/32/ac/wucGkuem_o.png" width="300">

In [68]:
%pip install -q google-cloud-bigquery

Note: you may need to restart the kernel to use updated packages.

In [2]:
import os

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'modified-ripsaw-343701.json'

In [4]:
from google.cloud import bigquery

In [5]:
bigquery_client = bigquery.Client(project='modified-ripsaw-343701')

In [9]:
QUERY = """

SELECT citibike_trips.gender, 
       citibike_trips.tripduration/60 AS duration_minutes
FROM   `bigquery-public-data`.new_york_citibike.citibike_trips citibike_trips
WHERE  citibike_trips.tripduration < 600 
AND    citibike_trips.gender = 'female'
LIMIT  5;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('female', 7.283333333333333), {'gender': 0, 'duration_minutes': 1})
Row(('female', 5.75), {'gender': 0, 'duration_minutes': 1})
Row(('female', 5.733333333333333), {'gender': 0, 'duration_minutes': 1})
Row(('female', 3.8333333333333335), {'gender': 0, 'duration_minutes': 1})
Row(('female', 8.066666666666666), {'gender': 0, 'duration_minutes': 1})

In [10]:
QUERY = """

SELECT gender, 
       tripduration
FROM  `bigquery-public-data`.new_york_citibike.citibike_trips
LIMIT  5;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('male', 432), {'gender': 0, 'tripduration': 1})
Row(('female', 1186), {'gender': 0, 'tripduration': 1})
Row(('male', 799), {'gender': 0, 'tripduration': 1})
Row(('female', 238), {'gender': 0, 'tripduration': 1})
Row(('male', 668), {'gender': 0, 'tripduration': 1})

In [11]:
QUERY = """

SELECT citibike_trips.gender, 
       citibike_trips.tripduration/60 AS duration_minutes
FROM  `bigquery-public-data`.new_york_citibike.citibike_trips citibike_trips
LIMIT  5;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('male', 7.2), {'gender': 0, 'duration_minutes': 1})
Row(('female', 19.766666666666666), {'gender': 0, 'duration_minutes': 1})
Row(('male', 13.316666666666666), {'gender': 0, 'duration_minutes': 1})
Row(('female', 3.966666666666667), {'gender': 0, 'duration_minutes': 1})
Row(('male', 11.133333333333333), {'gender': 0, 'duration_minutes': 1})

In [12]:
QUERY = """

SELECT citibike_trips.gender, 
       citibike_trips.tripduration/60 AS duration_minutes
FROM  `bigquery-public-data`.new_york_citibike.citibike_trips citibike_trips
WHERE  citibike_trips.tripduration < 600
LIMIT  5;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('male', 7.2), {'gender': 0, 'duration_minutes': 1})
Row(('female', 3.966666666666667), {'gender': 0, 'duration_minutes': 1})
Row(('male', 9.883333333333333), {'gender': 0, 'duration_minutes': 1})
Row(('male', 6.9), {'gender': 0, 'duration_minutes': 1})
Row(('male', 7.9), {'gender': 0, 'duration_minutes': 1})

In [13]:
QUERY = """

SELECT  citibike_trips.gender, 
        citibike_trips.tripduration/60 AS duration_minutes
FROM   `bigquery-public-data`.new_york_citibike.citibike_trips citibike_trips
WHERE   (citibike_trips.tripduration < 600 
        AND citibike_trips.gender = 'female') 
        OR  citibike_trips.gender = 'male'
LIMIT   5;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('male', 7.2), {'gender': 0, 'duration_minutes': 1})
Row(('male', 13.316666666666666), {'gender': 0, 'duration_minutes': 1})
Row(('female', 3.966666666666667), {'gender': 0, 'duration_minutes': 1})
Row(('male', 11.133333333333333), {'gender': 0, 'duration_minutes': 1})
Row(('male', 9.883333333333333), {'gender': 0, 'duration_minutes': 1})

In [14]:
QUERY = """

SELECT citibike_trips.gender, 
       citibike_trips.tripduration/60 AS duration_minutes
FROM  `bigquery-public-data`.new_york_citibike.citibike_trips citibike_trips
WHERE  (NOT (citibike_trips.tripduration < 600 
       AND citibike_trips.gender = 'female') )
       OR (citibike_trips.gender = 'male')
LIMIT 5;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('male', 6.183333333333334), {'gender': 0, 'duration_minutes': 1})
Row(('male', 22.166666666666668), {'gender': 0, 'duration_minutes': 1})
Row(('male', 13.833333333333334), {'gender': 0, 'duration_minutes': 1})
Row(('male', 9.25), {'gender': 0, 'duration_minutes': 1})
Row(('male', 5.466666666666667), {'gender': 0, 'duration_minutes': 1})

In [15]:
QUERY = """

SELECT citibike_trips.gender, 
       citibike_trips.tripduration/60 AS duration_minutes
FROM  `bigquery-public-data`.new_york_citibike.citibike_trips citibike_trips
WHERE  (citibike_trips.tripduration/60) < 10
LIMIT  5;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('male', 6.183333333333334), {'gender': 0, 'duration_minutes': 1})
Row(('male', 9.25), {'gender': 0, 'duration_minutes': 1})
Row(('male', 5.466666666666667), {'gender': 0, 'duration_minutes': 1})
Row(('male', 3.7666666666666666), {'gender': 0, 'duration_minutes': 1})
Row(('male', 1.7666666666666666), {'gender': 0, 'duration_minutes': 1})

In [16]:
QUERY = """

SELECT * FROM (SELECT citibike_trips.gender, 
       citibike_trips.tripduration/60 AS duration_minutes
FROM  `bigquery-public-data`.new_york_citibike.citibike_trips citibike_trips)
WHERE  duration_minutes < 10
LIMIT  5;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('male', 6.183333333333334), {'gender': 0, 'duration_minutes': 1})
Row(('male', 9.25), {'gender': 0, 'duration_minutes': 1})
Row(('male', 5.466666666666667), {'gender': 0, 'duration_minutes': 1})
Row(('male', 3.7666666666666666), {'gender': 0, 'duration_minutes': 1})
Row(('male', 1.7666666666666666), {'gender': 0, 'duration_minutes': 1})

In [17]:
QUERY = """

WITH all_trips AS
(
       SELECT citibike_trips.gender,
              citibike_trips.tripduration/60 AS duration_minutes
       FROM   `bigquery-PUBLIC-data`.new_york_citibike.citibike_trips citibike_trips)
SELECT *
FROM   all_trips
WHERE  duration_minutes < 10 limit 5;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('male', 7.2), {'gender': 0, 'duration_minutes': 1})
Row(('female', 3.966666666666667), {'gender': 0, 'duration_minutes': 1})
Row(('male', 9.883333333333333), {'gender': 0, 'duration_minutes': 1})
Row(('male', 6.9), {'gender': 0, 'duration_minutes': 1})
Row(('male', 7.9), {'gender': 0, 'duration_minutes': 1})

In [18]:
QUERY = """

SELECT citibike_trips.gender, 
       citibike_trips.tripduration/60 AS duration_minutes
FROM  `bigquery-public-data`.new_york_citibike.citibike_trips citibike_trips
WHERE  citibike_trips.gender = 'female'
ORDER  BY duration_minutes DESC
LIMIT  5;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('female', 250348.9), {'gender': 0, 'duration_minutes': 1})
Row(('female', 226437.93333333332), {'gender': 0, 'duration_minutes': 1})
Row(('female', 207988.71666666667), {'gender': 0, 'duration_minutes': 1})
Row(('female', 159712.05), {'gender': 0, 'duration_minutes': 1})
Row(('female', 154239.0), {'gender': 0, 'duration_minutes': 1})

In [19]:
QUERY = """

SELECT citibike_trips.gender, 
       AVG(citibike_trips.tripduration/60) AS duration_minutes
FROM   `bigquery-public-data`.new_york_citibike.citibike_trips citibike_trips
GROUP  BY citibike_trips.gender
ORDER  BY duration_minutes DESC;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('unknown', 31.439523023254203), {'gender': 0, 'duration_minutes': 1})
Row(('female', 15.97747214880521), {'gender': 0, 'duration_minutes': 1})
Row(('male', 13.41555317204389), {'gender': 0, 'duration_minutes': 1})
Row(('', None), {'gender': 0, 'duration_minutes': 1})

In [20]:
QUERY = """

SELECT citibike_trips.gender, 
       MAX(citibike_trips.tripduration/60) AS duration_minutes_MAX,
       MIN(citibike_trips.tripduration/60) AS duration_minutes_MIN, 
       SUM(citibike_trips.tripduration/60) AS duration_minutes_SUM
FROM   `bigquery-public-data`.new_york_citibike.citibike_trips citibike_trips
GROUP  BY citibike_trips.gender;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('male', 325167.48333333334, 1.0, 477751822.0500075), {'gender': 0, 'duration_minutes_MAX': 1, 'duration_minutes_MIN': 2, 'duration_minutes_SUM': 3})
Row(('female', 250348.9, 1.0, 181766305.88333482), {'gender': 0, 'duration_minutes_MAX': 1, 'duration_minutes_MIN': 2, 'duration_minutes_SUM': 3})
Row(('unknown', 195826.26666666666, 1.0, 192426292.3333333), {'gender': 0, 'duration_minutes_MAX': 1, 'duration_minutes_MIN': 2, 'duration_minutes_SUM': 3})
Row(('', None, None, None), {'gender': 0, 'duration_minutes_MAX': 1, 'duration_minutes_MIN': 2, 'duration_minutes_SUM': 3})

In [21]:
QUERY = """

SELECT citibike_trips.gender, Count(*) AS Rides, 
       AVG(citibike_trips.tripduration/60) AS duration_minutes
FROM   `bigquery-public-data`.new_york_citibike.citibike_trips citibike_trips
GROUP  BY citibike_trips.gender
ORDER  BY duration_minutes DESC;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('unknown', 6120522, 31.439523023254203), {'gender': 0, 'Rides': 1, 'duration_minutes': 2})
Row(('female', 11376412, 15.977472148805207), {'gender': 0, 'Rides': 1, 'duration_minutes': 2})
Row(('male', 35611787, 13.415553172043886), {'gender': 0, 'Rides': 1, 'duration_minutes': 2})
Row(('', 5828994, None), {'gender': 0, 'Rides': 1, 'duration_minutes': 2})

In [22]:
QUERY = """

SELECT COUNT(*) 
FROM   `bigquery-public-data`.new_york_citibike.citibike_trips citibike_trips;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((58937715,), {'f0_': 0})

In [23]:
QUERY = """

SELECT  citibike_trips.gender, 
        AVG(citibike_trips.tripduration/60) AS duration_minutes_AVG
FROM   `bigquery-public-data`.new_york_citibike.citibike_trips citibike_trips
GROUP   BY citibike_trips.gender
HAVING  AVG(citibike_trips.tripduration/60) <= 18;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('male', 13.415553172043886), {'gender': 0, 'duration_minutes_AVG': 1})
Row(('female', 15.977472148805207), {'gender': 0, 'duration_minutes_AVG': 1})

In [24]:
QUERY = """

SELECT citibike_trips.gender, 
       AVG(citibike_trips.tripduration/60) AS duration_minutes_AVG
FROM   `bigquery-public-data`.new_york_citibike.citibike_trips citibike_trips
GROUP  BY citibike_trips.gender
HAVING duration_minutes_AVG <= 18;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('female', 15.97747214880521), {'gender': 0, 'duration_minutes_AVG': 1})
Row(('male', 13.415553172043884), {'gender': 0, 'duration_minutes_AVG': 1})

In [25]:
QUERY = """

SELECT DISTINCT citibike_trips.gender 
FROM   `bigquery-public-data`.new_york_citibike.citibike_trips citibike_trips;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('male',), {'gender': 0})
Row(('female',), {'gender': 0})
Row(('unknown',), {'gender': 0})
Row(('',), {'gender': 0})

In [26]:
QUERY = """

SELECT citibike_trips.bikeid, 
       citibike_trips.tripduration, 
       citibike_trips.gender 
FROM   `bigquery-public-data`.new_york_citibike.citibike_trips citibike_trips
WHERE  gender = ""
LIMIT  100;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})
Row((None, None, ''), {'bikeid': 0, 'tripduration': 1, 'gender': 2})

In [27]:
QUERY = """

SELECT DISTINCT citibike_trips.gender 
FROM   `bigquery-public-data`.new_york_citibike.citibike_trips citibike_trips
WHERE  citibike_trips.bikeid IS NOT NULL;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('male',), {'gender': 0})
Row(('female',), {'gender': 0})
Row(('unknown',), {'gender': 0})

In [28]:
QUERY = """

SELECT DISTINCT citibike_trips.gender, 
       citibike_trips.usertype 
FROM   `bigquery-public-data`.new_york_citibike.citibike_trips citibike_trips
WHERE  citibike_trips.bikeid IS NOT NULL;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('female', 'Subscriber'), {'gender': 0, 'usertype': 1})
Row(('male', 'Subscriber'), {'gender': 0, 'usertype': 1})
Row(('unknown', 'Subscriber'), {'gender': 0, 'usertype': 1})
Row(('male', 'Customer'), {'gender': 0, 'usertype': 1})
Row(('female', 'Customer'), {'gender': 0, 'usertype': 1})
Row(('unknown', 'Customer'), {'gender': 0, 'usertype': 1})

In [29]:
QUERY = """

SELECT gender, 
       EXTRACT(YEAR FROM starttime) AS year, 
       COUNT(1) AS numtrips
FROM   `bigquery-public-data`.new_york_citibike.citibike_trips citibike_trips
WHERE  gender != 'unknown' AND starttime IS NOT NULL
GROUP  BY gender, year
HAVING year > 2016;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('male', 2017, 9306602), {'gender': 0, 'year': 1, 'numtrips': 2})
Row(('female', 2017, 3236735), {'gender': 0, 'year': 1, 'numtrips': 2})
Row(('male', 2018, 3955871), {'gender': 0, 'year': 1, 'numtrips': 2})
Row(('female', 2018, 1260893), {'gender': 0, 'year': 1, 'numtrips': 2})

In [30]:
QUERY = """

SELECT gender, 
       ARRAY_AGG (numtrips ORDER BY year) 
FROM   (SELECT gender, 
       EXTRACT(YEAR FROM starttime) AS year, 
       COUNT(1) AS numtrips
FROM  `bigquery-public-data`.new_york_citibike.citibike_trips citibike_trips
WHERE  gender != 'unknown' AND starttime IS NOT NULL
GROUP  BY gender, year
HAVING year > 2016)
GROUP  BY gender;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('female', [3236735, 1260893]), {'gender': 0, 'f0_': 1})
Row(('male', [9306602, 3955871]), {'gender': 0, 'f0_': 1})

In [31]:
QUERY = """

SELECT [
STRUCT('MALE' AS gender, [9306602, 3955871] AS numtrips),
STRUCT('FEMALE' AS gender, [3236735, 1260893] AS numtrips)
] AS bikerides;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(([{'gender': 'MALE', 'numtrips': [9306602, 3955871]}, {'gender': 'FEMALE', 'numtrips': [3236735, 1260893]}],), {'bikerides': 0})

In [32]:
QUERY = """

SELECT [
STRUCT('MALE' , [9306602, 3955871]),
STRUCT('FEMALE', [3236735, 1260893] )
];

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(([{'_field_1': 'MALE', '_field_2': [9306602, 3955871]}, {'_field_1': 'FEMALE', '_field_2': [3236735, 1260893]}],), {'f0_': 0})

In [33]:
QUERY = """

SELECT ARRAY_LENGTH(bikerides) FROM
(SELECT [
STRUCT('MALE' AS gender, [9306602, 3955871] AS numtrips),
STRUCT('FEMALE' AS gender, [3236735, 1260893] AS numtrips)
] AS bikerides);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((2,), {'f0_': 0})

In [34]:
QUERY = """

SELECT ARRAY_LENGTH(bikerides), bikerides[OFFSET(0)].gender AS fist_gender FROM
(SELECT [
STRUCT('MALE' AS gender, [9306602, 3955871] AS numtrips),
STRUCT('FEMALE' AS gender, [3236735, 1260893] AS numtrips)
] AS bikerides);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((2, 'MALE'), {'f0_': 0, 'fist_gender': 1})

In [35]:
QUERY = """

SELECT ARRAY_LENGTH(bikerides), bikerides[OFFSET(1)].gender AS fist_gender FROM
(SELECT [
STRUCT('MALE' AS gender, [9306602, 3955871] AS numtrips),
STRUCT('FEMALE' AS gender, [3236735, 1260893] AS numtrips)
] AS bikerides);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((2, 'FEMALE'), {'f0_': 0, 'fist_gender': 1})

In [36]:
QUERY = """

SELECT ARRAY_LENGTH(bikerides), bikerides[OFFSET(1)].numtrips[OFFSET(0)] AS fist_gender FROM
(SELECT [
STRUCT('MALE' AS gender, [9306602, 3955871] AS numtrips),
STRUCT('FEMALE' AS gender, [3236735, 1260893] AS numtrips)
] AS bikerides);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((2, 3236735), {'f0_': 0, 'fist_gender': 1})

In [37]:
QUERY = """

SELECT * FROM UNNEST ([
STRUCT('MALE' AS gender, [9306602, 3955871] AS numtrips),
STRUCT('FEMALE' AS gender, [3236735, 1260893] AS numtrips)
]);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('MALE', [9306602, 3955871]), {'gender': 0, 'numtrips': 1})
Row(('FEMALE', [3236735, 1260893]), {'gender': 0, 'numtrips': 1})

In [38]:
QUERY = """

SELECT gender FROM UNNEST ([
STRUCT('MALE' AS gender, [9306602, 3955871] AS numtrips),
STRUCT('FEMALE' AS gender, [3236735, 1260893] AS numtrips)
]);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('MALE',), {'gender': 0})
Row(('FEMALE',), {'gender': 0})

In [39]:
QUERY = """

SELECT numtrips FROM UNNEST ([
STRUCT('MALE' AS gender, [9306602, 3955871] AS numtrips),
STRUCT('FEMALE' AS gender, [3236735, 1260893] AS numtrips)
]);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(([9306602, 3955871],), {'numtrips': 0})
Row(([3236735, 1260893],), {'numtrips': 0})

In [40]:
QUERY = """

SELECT gender, numtrips[OFFSET(0)] AS First_Element FROM UNNEST ([
STRUCT('MALE' AS gender, [9306602, 3955871] AS numtrips),
STRUCT('FEMALE' AS gender, [3236735, 1260893] AS numtrips)
]);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('MALE', 9306602), {'gender': 0, 'First_Element': 1})
Row(('FEMALE', 3236735), {'gender': 0, 'First_Element': 1})

In [41]:
QUERY = """

WITH from_item_a
     AS (SELECT 'DALLAS' AS CITY,
                'OR'     AS STATE
         UNION ALL
         SELECT 'TOKYO' AS CITY,
                'TOKYO' AS STATE
         UNION ALL
         SELECT 'MUMBAI'      AS CITY,
                'MAHARASHIRA' AS STATE),
     from_item_b
     AS (SELECT 'OR'  AS STATE,
                'USA' AS COUNTRY
         UNION ALL
         SELECT 'TOKYO' AS STATE,
                'JAPAN' AS COUNTRY
         UNION ALL
         SELECT 'MAHARASHIRA' AS STATE,
                'INDIA'       AS CONTRY)
SELECT from_item_a.*,
       country
FROM   from_item_a
       INNER JOIN from_item_b
               ON from_item_a.state = from_item_b.state; 

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('DALLAS', 'OR', 'USA'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row(('TOKYO', 'TOKYO', 'JAPAN'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row(('MUMBAI', 'MAHARASHIRA', 'INDIA'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})

In [42]:
QUERY = """

WITH from_item_a
     AS (SELECT 'DALLAS' AS CITY,
                'OR'     AS STATE
         UNION ALL
         SELECT 'TOKYO' AS CITY,
                'TOKYO' AS STATE
         UNION ALL
         SELECT 'MUMBAI'      AS CITY,
                'MAHARASHIRA' AS STATE),
     from_item_b
     AS (SELECT 'OR'  AS STATE,
                'USA' AS COUNTRY
         UNION ALL
         SELECT 'TOKYO' AS STATE,
                'JAPAN' AS COUNTRY
         UNION ALL
         SELECT 'MAHARASHIRA' AS STATE,
                'INDIA'       AS CONTRY)
SELECT from_item_a.*,
       country
FROM   from_item_a
       INNER JOIN from_item_b
               ON from_item_a.state != from_item_b.state; 

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('DALLAS', 'OR', 'JAPAN'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row(('DALLAS', 'OR', 'INDIA'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row(('TOKYO', 'TOKYO', 'USA'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row(('TOKYO', 'TOKYO', 'INDIA'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row(('MUMBAI', 'MAHARASHIRA', 'USA'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row(('MUMBAI', 'MAHARASHIRA', 'JAPAN'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})

In [43]:
QUERY = """

WITH from_item_a
     AS (SELECT 'DALLAS' AS CITY,
                'OR'     AS STATE
         UNION ALL
         SELECT 'TOKYO' AS CITY,
                'TOKYO' AS STATE
         UNION ALL
         SELECT 'MUMBAI'      AS CITY,
                'MAHARASHIRA' AS STATE),
     from_item_b
     AS (SELECT 'OR'  AS STATE,
                'USA' AS COUNTRY
         UNION ALL
         SELECT 'TOKYO' AS STATE,
                'JAPAN' AS COUNTRY
         UNION ALL
         SELECT 'MAHARASHIRA' AS STATE,
                'INDIA'       AS CONTRY)
SELECT from_item_a.*,
       country
FROM   from_item_a
       CROSS JOIN from_item_b; 

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('DALLAS', 'OR', 'USA'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row(('DALLAS', 'OR', 'JAPAN'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row(('DALLAS', 'OR', 'INDIA'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row(('TOKYO', 'TOKYO', 'USA'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row(('TOKYO', 'TOKYO', 'JAPAN'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row(('TOKYO', 'TOKYO', 'INDIA'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row(('MUMBAI', 'MAHARASHIRA', 'USA'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row(('MUMBAI', 'MAHARASHIRA', 'JAPAN'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row(('MUMBAI', 'MAHARASHIRA', 'INDIA'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})

In [44]:
QUERY = """

WITH from_item_a
     AS (SELECT 'DALLAS' AS CITY,
                'OR'     AS STATE
         UNION ALL
         SELECT 'TOKYO' AS CITY,
                'TOKYO' AS STATE
         UNION ALL
         SELECT 'MUMBAI'      AS CITY,
                'MAHARASHIRA' AS STATE
         UNION ALL
         SELECT 'A CORUNA' AS CITY,
                'GALICIA'  AS STATE
         UNION ALL
         SELECT 'SÃO PAULO' AS CITY,
                'SÃO PAULO' AS STATE),
     from_item_b
     AS (SELECT 'OR'  AS STATE,
                'USA' AS COUNTRY
         UNION ALL
         SELECT 'TOKYO' AS STATE,
                'JAPAN' AS COUNTRY
         UNION ALL
         SELECT 'MAHARASHIRA' AS STATE,
                'INDIA'       AS CONTRY
         UNION ALL
         SELECT 'RIO DE JANEIRO' AS STATE,
                'BRASIL'         AS CONTRY
         UNION ALL
         SELECT 'MEXICO CITY' AS STATE,
                'MEXICO'      AS CONTRY)
SELECT from_item_a.*,
       country
FROM   from_item_a
       FULL OUTER JOIN from_item_b
                    ON from_item_a.state = from_item_b.state; 

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('DALLAS', 'OR', 'USA'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row(('TOKYO', 'TOKYO', 'JAPAN'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row(('MUMBAI', 'MAHARASHIRA', 'INDIA'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row(('A CORUNA', 'GALICIA', None), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row(('SÃO PAULO', 'SÃO PAULO', None), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row((None, None, 'BRASIL'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row((None, None, 'MEXICO'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})

In [45]:
QUERY = """

WITH from_item_a
     AS (SELECT 'DALLAS' AS CITY,
                'OR'     AS STATE
         UNION ALL
         SELECT 'TOKYO' AS CITY,
                'TOKYO' AS STATE
         UNION ALL
         SELECT 'MUMBAI'      AS CITY,
                'MAHARASHIRA' AS STATE
         UNION ALL
         SELECT 'A CORUNA' AS CITY,
                'GALICIA'  AS STATE
         UNION ALL
         SELECT 'SÃO PAULO' AS CITY,
                'SÃO PAULO' AS STATE),
     from_item_b
     AS (SELECT 'OR'  AS STATE,
                'USA' AS COUNTRY
         UNION ALL
         SELECT 'TOKYO' AS STATE,
                'JAPAN' AS COUNTRY
         UNION ALL
         SELECT 'MAHARASHIRA' AS STATE,
                'INDIA'       AS CONTRY
         UNION ALL
         SELECT 'RIO DE JANEIRO' AS STATE,
                'BRASIL'         AS CONTRY
         UNION ALL
         SELECT 'MEXICO CITY' AS STATE,
                'MEXICO'      AS CONTRY)
SELECT from_item_a.*,
       country
FROM   from_item_a
       LEFT JOIN from_item_b
              ON from_item_a.state = from_item_b.state; 

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('DALLAS', 'OR', 'USA'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row(('TOKYO', 'TOKYO', 'JAPAN'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row(('MUMBAI', 'MAHARASHIRA', 'INDIA'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row(('A CORUNA', 'GALICIA', None), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row(('SÃO PAULO', 'SÃO PAULO', None), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})

In [46]:
QUERY = """

WITH from_item_a
     AS (SELECT 'DALLAS' AS CITY,
                'OR'     AS STATE
         UNION ALL
         SELECT 'TOKYO' AS CITY,
                'TOKYO' AS STATE
         UNION ALL
         SELECT 'MUMBAI'      AS CITY,
                'MAHARASHIRA' AS STATE
         UNION ALL
         SELECT 'A CORUNA' AS CITY,
                'GALICIA'  AS STATE
         UNION ALL
         SELECT 'SÃO PAULO' AS CITY,
                'SÃO PAULO' AS STATE),
     from_item_b
     AS (SELECT 'OR'  AS STATE,
                'USA' AS COUNTRY
         UNION ALL
         SELECT 'TOKYO' AS STATE,
                'JAPAN' AS COUNTRY
         UNION ALL
         SELECT 'MAHARASHIRA' AS STATE,
                'INDIA'       AS CONTRY
         UNION ALL
         SELECT 'RIO DE JANEIRO' AS STATE,
                'BRASIL'         AS CONTRY
         UNION ALL
         SELECT 'MEXICO CITY' AS STATE,
                'MEXICO'      AS CONTRY)
SELECT from_item_a.*,
       country
FROM   from_item_a
       RIGHT JOIN from_item_b
               ON from_item_a.state = from_item_b.state 

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('DALLAS', 'OR', 'USA'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row(('TOKYO', 'TOKYO', 'JAPAN'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row(('MUMBAI', 'MAHARASHIRA', 'INDIA'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row((None, None, 'BRASIL'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})
Row((None, None, 'MEXICO'), {'CITY': 0, 'STATE': 1, 'COUNTRY': 2})

In [47]:
QUERY = """

WITH bicycle_rentals AS
(
         SELECT   COUNT(starttime)             AS num_trips,
                  Extract(date FROM starttime) AS trip_date
         FROM     `bigquery-PUBLIC-data`.new_york_citibike.citibike_trips
         GROUP BY trip_date), rainy_days AS
(
         SELECT   date,
                  (max(prcp) > 5) AS rainy
         FROM     (
                         SELECT date,
                                IF(element = 'PRCP', value/10, NULL) AS prcp
                         FROM   `bigquery-PUBLIC-data.ghcn_d.ghcnd_2016`
                         WHERE  id = 'USW00094728')
         GROUP BY date)
SELECT   trip_date,
         num_trips,
         rainy_days.rainy
FROM     bicycle_rentals inne
JOIN     rainy_days
ON       trip_date = rainy_days.date
WHERE    rainy_days.rainy = true
ORDER BY trip_date;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((datetime.date(2016, 1, 10), 14275, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 1, 16), 19178, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 2, 3), 16203, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 2, 5), 13670, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 2, 15), 5884, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 2, 16), 14542, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 2, 23), 16133, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 2, 24), 9761, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 3, 14), 10930, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 3, 28), 20345, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 4, 4), 12302, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 4, 12), 23765, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 4, 26), 34643, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 5, 3), 22858, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 5, 6), 18860, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 5, 13), 32391, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 5, 30), 32619, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 6, 4), 40977, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 6, 5), 22397, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 6, 8), 42250, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 6, 16), 46198, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 6, 27), 47023, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 7, 1), 39669, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 7, 4), 34860, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 7, 5), 43744, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 7, 9), 38142, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 7, 14), 50350, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 7, 18), 43687, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 7, 25), 35379, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 7, 29), 37703, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 7, 30), 27780, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 7, 31), 27651, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 8, 12), 44750, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 8, 20), 45817, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 8, 21), 35051, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 9, 1), 38187, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 9, 9), 56813, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 9, 14), 59203, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 9, 19), 34217, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 9, 24), 53259, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 9, 27), 61346, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})
Row((datetime.date(2016, 9, 30), 21381, True), {'trip_date': 0, 'num_trips': 1, 'rainy': 2})

In [52]:
QUERY = """

SELECT *
FROM   `modified-ripsaw-343701.sucos_vendas.notas_fiscais` NF
       INNER JOIN `modified-ripsaw-343701.sucos_vendas.itens_notas_fiscais` INF
               ON NF.numero = INF.numero
LIMIT 20; 

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((8502682733, 235, datetime.date(2015, 2, 7), 2893, 0.12, 2893, 723457, 10, 4.912), {'CPF': 0, 'MATRICULA': 1, 'DATA_VENDA': 2, 'NUMERO': 3, 'IMPOSTO': 4, 'NUMERO_1': 5, 'CODIGO_DO_PRODUTO': 6, 'QUANTIDADE': 7, 'PRECO': 8})
Row((2600586709, 237, datetime.date(2015, 3, 2), 4521, 0.12, 4521, 723457, 10, 4.912), {'CPF': 0, 'MATRICULA': 1, 'DATA_VENDA': 2, 'NUMERO': 3, 'IMPOSTO': 4, 'NUMERO_1': 5, 'CODIGO_DO_PRODUTO': 6, 'QUANTIDADE': 7, 'PRECO': 8})
Row((5648641702, 235, datetime.date(2015, 3, 13), 5396, 0.12, 5396, 723457, 10, 4.912), {'CPF': 0, 'MATRICULA': 1, 'DATA_VENDA': 2, 'NUMERO': 3, 'IMPOSTO': 4, 'NUMERO_1': 5, 'CODIGO_DO_PRODUTO': 6, 'QUANTIDADE': 7, 'PRECO': 8})
Row((1471156710, 237, datetime.date(2015, 3, 23), 6073, 0.1, 6073, 723457, 10, 4.912), {'CPF': 0, 'MATRICULA': 1, 'DATA_VENDA': 2, 'NUMERO': 3, 'IMPOSTO': 4, 'NUMERO_1': 5, 'CODIGO_DO_PRODUTO': 6, 'QUANTIDADE': 7, 'PRECO': 8})
Row((8719655770, 237, datetime.date(2015, 3, 31), 6571, 0.12, 6571, 723457, 10, 4.912), {'CPF': 0, 'MATRICULA': 1, 'DATA_VENDA': 2, 'NUMERO': 3, 'IMPOSTO': 4, 'NUMERO_1': 5, 'CODIGO_DO_PRODUTO': 6, 'QUANTIDADE': 7, 'PRECO': 8})
Row((50534475787, 236, datetime.date(2015, 4, 2), 6780, 0.12, 6780, 723457, 10, 4.912), {'CPF': 0, 'MATRICULA': 1, 'DATA_VENDA': 2, 'NUMERO': 3, 'IMPOSTO': 4, 'NUMERO_1': 5, 'CODIGO_DO_PRODUTO': 6, 'QUANTIDADE': 7, 'PRECO': 8})
Row((7771579779, 236, datetime.date(2015, 4, 18), 7998, 0.12, 7998, 723457, 10, 4.912), {'CPF': 0, 'MATRICULA': 1, 'DATA_VENDA': 2, 'NUMERO': 3, 'IMPOSTO': 4, 'NUMERO_1': 5, 'CODIGO_DO_PRODUTO': 6, 'QUANTIDADE': 7, 'PRECO': 8})
Row((8502682733, 235, datetime.date(2015, 4, 29), 8778, 0.1, 8778, 723457, 10, 4.912), {'CPF': 0, 'MATRICULA': 1, 'DATA_VENDA': 2, 'NUMERO': 3, 'IMPOSTO': 4, 'NUMERO_1': 5, 'CODIGO_DO_PRODUTO': 6, 'QUANTIDADE': 7, 'PRECO': 8})
Row((492472718, 237, datetime.date(2015, 5, 2), 8994, 0.12, 8994, 723457, 10, 4.912), {'CPF': 0, 'MATRICULA': 1, 'DATA_VENDA': 2, 'NUMERO': 3, 'IMPOSTO': 4, 'NUMERO_1': 5, 'CODIGO_DO_PRODUTO': 6, 'QUANTIDADE': 7, 'PRECO': 8})
Row((5648641702, 237, datetime.date(2015, 5, 9), 9500, 0.12, 9500, 723457, 10, 4.912), {'CPF': 0, 'MATRICULA': 1, 'DATA_VENDA': 2, 'NUMERO': 3, 'IMPOSTO': 4, 'NUMERO_1': 5, 'CODIGO_DO_PRODUTO': 6, 'QUANTIDADE': 7, 'PRECO': 8})
Row((1471156710, 237, datetime.date(2015, 5, 10), 9587, 0.1, 9587, 723457, 10, 4.912), {'CPF': 0, 'MATRICULA': 1, 'DATA_VENDA': 2, 'NUMERO': 3, 'IMPOSTO': 4, 'NUMERO_1': 5, 'CODIGO_DO_PRODUTO': 6, 'QUANTIDADE': 7, 'PRECO': 8})
Row((8719655770, 236, datetime.date(2015, 6, 17), 12513, 0.12, 12513, 723457, 10, 4.912), {'CPF': 0, 'MATRICULA': 1, 'DATA_VENDA': 2, 'NUMERO': 3, 'IMPOSTO': 4, 'NUMERO_1': 5, 'CODIGO_DO_PRODUTO': 6, 'QUANTIDADE': 7, 'PRECO': 8})
Row((492472718, 236, datetime.date(2015, 6, 23), 12943, 0.1, 12943, 723457, 10, 4.912), {'CPF': 0, 'MATRICULA': 1, 'DATA_VENDA': 2, 'NUMERO': 3, 'IMPOSTO': 4, 'NUMERO_1': 5, 'CODIGO_DO_PRODUTO': 6, 'QUANTIDADE': 7, 'PRECO': 8})
Row((5648641702, 236, datetime.date(2015, 7, 25), 15379, 0.12, 15379, 723457, 10, 4.912), {'CPF': 0, 'MATRICULA': 1, 'DATA_VENDA': 2, 'NUMERO': 3, 'IMPOSTO': 4, 'NUMERO_1': 5, 'CODIGO_DO_PRODUTO': 6, 'QUANTIDADE': 7, 'PRECO': 8})
Row((5648641702, 235, datetime.date(2015, 7, 28), 15590, 0.1, 15590, 723457, 10, 4.912), {'CPF': 0, 'MATRICULA': 1, 'DATA_VENDA': 2, 'NUMERO': 3, 'IMPOSTO': 4, 'NUMERO_1': 5, 'CODIGO_DO_PRODUTO': 6, 'QUANTIDADE': 7, 'PRECO': 8})
Row((19290992743, 235, datetime.date(2015, 7, 30), 15708, 0.1, 15708, 723457, 10, 4.912), {'CPF': 0, 'MATRICULA': 1, 'DATA_VENDA': 2, 'NUMERO': 3, 'IMPOSTO': 4, 'NUMERO_1': 5, 'CODIGO_DO_PRODUTO': 6, 'QUANTIDADE': 7, 'PRECO': 8})
Row((3623344710, 237, datetime.date(2015, 7, 30), 15745, 0.12, 15745, 723457, 10, 4.912), {'CPF': 0, 'MATRICULA': 1, 'DATA_VENDA': 2, 'NUMERO': 3, 'IMPOSTO': 4, 'NUMERO_1': 5, 'CODIGO_DO_PRODUTO': 6, 'QUANTIDADE': 7, 'PRECO': 8})
Row((9283760794, 235, datetime.date(2015, 8, 3), 16048, 0.1, 16048, 723457, 10, 4.912), {'CPF': 0, 'MATRICULA': 1, 'DATA_VENDA': 2, 'NUMERO': 3, 'IMPOSTO': 4, 'NUMERO_1': 5, 'CODIGO_DO_PRODUTO': 6, 'QUANTIDADE': 7, 'PRECO': 8})
Row((8502682733, 235, datetime.date(2015, 8, 7), 16364, 0.1, 16364, 723457, 10, 4.912), {'CPF': 0, 'MATRICULA': 1, 'DATA_VENDA': 2, 'NUMERO': 3, 'IMPOSTO': 4, 'NUMERO_1': 5, 'CODIGO_DO_PRODUTO': 6, 'QUANTIDADE': 7, 'PRECO': 8})
Row((19290992743, 235, datetime.date(2015, 8, 8), 16412, 0.1, 16412, 723457, 10, 4.912), {'CPF': 0, 'MATRICULA': 1, 'DATA_VENDA': 2, 'NUMERO': 3, 'IMPOSTO': 4, 'NUMERO_1': 5, 'CODIGO_DO_PRODUTO': 6, 'QUANTIDADE': 7, 'PRECO': 8})

In [53]:
QUERY = """

SELECT NF.cpf,
       NF.data_venda,
       INF.quantidade
FROM   `modified-ripsaw-343701.sucos_vendas.notas_fiscais` NF
       INNER JOIN `modified-ripsaw-343701.sucos_vendas.itens_notas_fiscais` INF
               ON NF.numero = INF.numero
LIMIT 20;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((8502682733, datetime.date(2015, 2, 7), 10), {'cpf': 0, 'data_venda': 1, 'quantidade': 2})
Row((2600586709, datetime.date(2015, 3, 2), 10), {'cpf': 0, 'data_venda': 1, 'quantidade': 2})
Row((5648641702, datetime.date(2015, 3, 13), 10), {'cpf': 0, 'data_venda': 1, 'quantidade': 2})
Row((1471156710, datetime.date(2015, 3, 23), 10), {'cpf': 0, 'data_venda': 1, 'quantidade': 2})
Row((8719655770, datetime.date(2015, 3, 31), 10), {'cpf': 0, 'data_venda': 1, 'quantidade': 2})
Row((50534475787, datetime.date(2015, 4, 2), 10), {'cpf': 0, 'data_venda': 1, 'quantidade': 2})
Row((7771579779, datetime.date(2015, 4, 18), 10), {'cpf': 0, 'data_venda': 1, 'quantidade': 2})
Row((8502682733, datetime.date(2015, 4, 29), 10), {'cpf': 0, 'data_venda': 1, 'quantidade': 2})
Row((492472718, datetime.date(2015, 5, 2), 10), {'cpf': 0, 'data_venda': 1, 'quantidade': 2})
Row((5648641702, datetime.date(2015, 5, 9), 10), {'cpf': 0, 'data_venda': 1, 'quantidade': 2})
Row((1471156710, datetime.date(2015, 5, 10), 10), {'cpf': 0, 'data_venda': 1, 'quantidade': 2})
Row((8719655770, datetime.date(2015, 6, 17), 10), {'cpf': 0, 'data_venda': 1, 'quantidade': 2})
Row((492472718, datetime.date(2015, 6, 23), 10), {'cpf': 0, 'data_venda': 1, 'quantidade': 2})
Row((5648641702, datetime.date(2015, 7, 25), 10), {'cpf': 0, 'data_venda': 1, 'quantidade': 2})
Row((5648641702, datetime.date(2015, 7, 28), 10), {'cpf': 0, 'data_venda': 1, 'quantidade': 2})
Row((19290992743, datetime.date(2015, 7, 30), 10), {'cpf': 0, 'data_venda': 1, 'quantidade': 2})
Row((3623344710, datetime.date(2015, 7, 30), 10), {'cpf': 0, 'data_venda': 1, 'quantidade': 2})
Row((9283760794, datetime.date(2015, 8, 3), 10), {'cpf': 0, 'data_venda': 1, 'quantidade': 2})
Row((8502682733, datetime.date(2015, 8, 7), 10), {'cpf': 0, 'data_venda': 1, 'quantidade': 2})
Row((19290992743, datetime.date(2015, 8, 8), 10), {'cpf': 0, 'data_venda': 1, 'quantidade': 2})

In [54]:
QUERY = """

SELECT NF.cpf,
       EXTRACT(year FROM NF.data_venda)  AS ANO,
       EXTRACT(month FROM NF.data_venda) AS MES,
       SUM(INF.quantidade)               AS QUANTIDADE
FROM   `modified-ripsaw-343701.sucos_vendas.notas_fiscais` NF
       INNER JOIN `modified-ripsaw-343701.sucos_vendas.itens_notas_fiscais` INF
               ON NF.numero = INF.numero
GROUP  BY NF.cpf,
          ano,
          mes
LIMIT 20;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((8502682733, 2015, 2, 18927), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3})
Row((2600586709, 2015, 3, 20474), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3})
Row((5648641702, 2015, 3, 24390), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3})
Row((1471156710, 2015, 3, 22057), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3})
Row((8719655770, 2015, 3, 20694), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3})
Row((50534475787, 2015, 4, 22390), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3})
Row((7771579779, 2015, 4, 21444), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3})
Row((8502682733, 2015, 4, 20949), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3})
Row((492472718, 2015, 5, 24918), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3})
Row((5648641702, 2015, 5, 24004), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3})
Row((1471156710, 2015, 5, 26385), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3})
Row((8719655770, 2015, 6, 20038), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3})
Row((492472718, 2015, 6, 23361), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3})
Row((5648641702, 2015, 7, 20996), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3})
Row((19290992743, 2015, 7, 21914), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3})
Row((3623344710, 2015, 7, 21468), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3})
Row((9283760794, 2015, 8, 21840), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3})
Row((8502682733, 2015, 8, 22096), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3})
Row((19290992743, 2015, 8, 22322), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3})
Row((5576228758, 2015, 8, 20057), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3})

In [55]:
QUERY = """

SELECT *
FROM   `modified-ripsaw-343701.sucos_vendas.tabela_de_clientes` TC
LIMIT 20;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((1471156710, 'Érica Carvalho', 'R. Iriquitia', None, 'Jardins', 'São Paulo', 'SP', 80012212, datetime.date(1990, 9, 1), 27, 'F', 170000.0, 24500.0, 0), {'CPF': 0, 'NOME': 1, 'ENDERECO_1': 2, 'ENDERECO_2': 3, 'BAIRRO': 4, 'CIDADE': 5, 'ESTADO': 6, 'CEP': 7, 'DATA_DE_NASCIMENTO': 8, 'IDADE': 9, 'SEXO': 10, 'LIMITE_DE_CREDITO': 11, 'VOLUME_DE_COMPRA': 12, 'PRIMEIRA_COMPRA': 13})
Row((5576228758, 'Petra Oliveira', 'R. Benício de Abreu', None, 'Lapa', 'São Paulo', 'SP', 88192029, datetime.date(1995, 11, 14), 22, 'F', 70000.0, 16000.0, 1), {'CPF': 0, 'NOME': 1, 'ENDERECO_1': 2, 'ENDERECO_2': 3, 'BAIRRO': 4, 'CIDADE': 5, 'ESTADO': 6, 'CEP': 7, 'DATA_DE_NASCIMENTO': 8, 'IDADE': 9, 'SEXO': 10, 'LIMITE_DE_CREDITO': 11, 'VOLUME_DE_COMPRA': 12, 'PRIMEIRA_COMPRA': 13})
Row((5840119709, 'Gabriel Araujo', 'R. Manuel de Oliveira', None, 'Santo Amaro', 'São Paulo', 'SP', 80010221, datetime.date(1985, 3, 16), 32, 'M', 140000.0, 21000.0, 1), {'CPF': 0, 'NOME': 1, 'ENDERECO_1': 2, 'ENDERECO_2': 3, 'BAIRRO': 4, 'CIDADE': 5, 'ESTADO': 6, 'CEP': 7, 'DATA_DE_NASCIMENTO': 8, 'IDADE': 9, 'SEXO': 10, 'LIMITE_DE_CREDITO': 11, 'VOLUME_DE_COMPRA': 12, 'PRIMEIRA_COMPRA': 13})
Row((7771579779, 'Marcelo Mattos', 'R. Eduardo Luís Lopes', None, 'Brás', 'São Paulo', 'SP', 88202912, datetime.date(1992, 3, 25), 25, 'M', 120000.0, 20000.0, 1), {'CPF': 0, 'NOME': 1, 'ENDERECO_1': 2, 'ENDERECO_2': 3, 'BAIRRO': 4, 'CIDADE': 5, 'ESTADO': 6, 'CEP': 7, 'DATA_DE_NASCIMENTO': 8, 'IDADE': 9, 'SEXO': 10, 'LIMITE_DE_CREDITO': 11, 'VOLUME_DE_COMPRA': 12, 'PRIMEIRA_COMPRA': 13})
Row((8502682733, 'Valdeci da Silva', 'R. Srg. Édison de Oliveira', None, 'Jardins', 'São Paulo', 'SP', 82122020, datetime.date(1995, 10, 7), 22, 'M', 110000.0, 19000.0, 0), {'CPF': 0, 'NOME': 1, 'ENDERECO_1': 2, 'ENDERECO_2': 3, 'BAIRRO': 4, 'CIDADE': 5, 'ESTADO': 6, 'CEP': 7, 'DATA_DE_NASCIMENTO': 8, 'IDADE': 9, 'SEXO': 10, 'LIMITE_DE_CREDITO': 11, 'VOLUME_DE_COMPRA': 12, 'PRIMEIRA_COMPRA': 13})
Row((8719655770, 'Carlos Eduardo', 'Av. Gen. Guedes da Fontoura', None, 'Jardins', 'São Paulo', 'SP', 81192002, datetime.date(1983, 12, 20), 34, 'M', 200000.0, 24000.0, 0), {'CPF': 0, 'NOME': 1, 'ENDERECO_1': 2, 'ENDERECO_2': 3, 'BAIRRO': 4, 'CIDADE': 5, 'ESTADO': 6, 'CEP': 7, 'DATA_DE_NASCIMENTO': 8, 'IDADE': 9, 'SEXO': 10, 'LIMITE_DE_CREDITO': 11, 'VOLUME_DE_COMPRA': 12, 'PRIMEIRA_COMPRA': 13})
Row((19290992743, 'Fernando Cavalcante', 'R. Dois de Fevereiro', None, 'Água Santa', 'Rio de Janeiro', 'RJ', 22000000, datetime.date(2000, 2, 12), 18, 'M', 100000.0, 20000.0, 1), {'CPF': 0, 'NOME': 1, 'ENDERECO_1': 2, 'ENDERECO_2': 3, 'BAIRRO': 4, 'CIDADE': 5, 'ESTADO': 6, 'CEP': 7, 'DATA_DE_NASCIMENTO': 8, 'IDADE': 9, 'SEXO': 10, 'LIMITE_DE_CREDITO': 11, 'VOLUME_DE_COMPRA': 12, 'PRIMEIRA_COMPRA': 13})
Row((2600586709, 'César Teixeira', 'Rua Conde de Bonfim', None, 'Tijuca', 'Rio de Janeiro', 'RJ', 22020001, datetime.date(2000, 3, 12), 18, 'M', 120000.0, 22000.0, 0), {'CPF': 0, 'NOME': 1, 'ENDERECO_1': 2, 'ENDERECO_2': 3, 'BAIRRO': 4, 'CIDADE': 5, 'ESTADO': 6, 'CEP': 7, 'DATA_DE_NASCIMENTO': 8, 'IDADE': 9, 'SEXO': 10, 'LIMITE_DE_CREDITO': 11, 'VOLUME_DE_COMPRA': 12, 'PRIMEIRA_COMPRA': 13})
Row((3623344710, 'Marcos Nougeuira', 'Av. Pastor Martin Luther King Junior', None, 'Inhauma', 'Rio de Janeiro', 'RJ', 22002012, datetime.date(1995, 1, 13), 23, 'M', 110000.0, 22000.0, 1), {'CPF': 0, 'NOME': 1, 'ENDERECO_1': 2, 'ENDERECO_2': 3, 'BAIRRO': 4, 'CIDADE': 5, 'ESTADO': 6, 'CEP': 7, 'DATA_DE_NASCIMENTO': 8, 'IDADE': 9, 'SEXO': 10, 'LIMITE_DE_CREDITO': 11, 'VOLUME_DE_COMPRA': 12, 'PRIMEIRA_COMPRA': 13})
Row((492472718, 'Eduardo Jorge', 'R. Volta Grande', None, 'Tijuca', 'Rio de Janeiro', 'RJ', 22012002, datetime.date(1994, 7, 19), 23, 'M', 75000.0, 9500.0, 1), {'CPF': 0, 'NOME': 1, 'ENDERECO_1': 2, 'ENDERECO_2': 3, 'BAIRRO': 4, 'CIDADE': 5, 'ESTADO': 6, 'CEP': 7, 'DATA_DE_NASCIMENTO': 8, 'IDADE': 9, 'SEXO': 10, 'LIMITE_DE_CREDITO': 11, 'VOLUME_DE_COMPRA': 12, 'PRIMEIRA_COMPRA': 13})
Row((50534475787, 'Abel Silva ', 'Rua Humaitá', None, 'Humaitá', 'Rio de Janeiro', 'RJ', 22000212, datetime.date(1995, 9, 11), 22, 'M', 170000.0, 26000.0, 0), {'CPF': 0, 'NOME': 1, 'ENDERECO_1': 2, 'ENDERECO_2': 3, 'BAIRRO': 4, 'CIDADE': 5, 'ESTADO': 6, 'CEP': 7, 'DATA_DE_NASCIMENTO': 8, 'IDADE': 9, 'SEXO': 10, 'LIMITE_DE_CREDITO': 11, 'VOLUME_DE_COMPRA': 12, 'PRIMEIRA_COMPRA': 13})
Row((5648641702, 'Paulo César Mattos', 'Rua Hélio Beltrão', None, 'Tijuca', 'Rio de Janeiro', 'RJ', 21002020, datetime.date(1991, 8, 30), 26, 'M', 120000.0, 22000.0, 0), {'CPF': 0, 'NOME': 1, 'ENDERECO_1': 2, 'ENDERECO_2': 3, 'BAIRRO': 4, 'CIDADE': 5, 'ESTADO': 6, 'CEP': 7, 'DATA_DE_NASCIMENTO': 8, 'IDADE': 9, 'SEXO': 10, 'LIMITE_DE_CREDITO': 11, 'VOLUME_DE_COMPRA': 12, 'PRIMEIRA_COMPRA': 13})
Row((9283760794, 'Edson Meilelles', 'R. Pinto de Azevedo', None, 'Cidade Nova', 'Rio de Janeiro', 'RJ', 22002002, datetime.date(1995, 10, 7), 22, 'M', 150000.0, 25000.0, 1), {'CPF': 0, 'NOME': 1, 'ENDERECO_1': 2, 'ENDERECO_2': 3, 'BAIRRO': 4, 'CIDADE': 5, 'ESTADO': 6, 'CEP': 7, 'DATA_DE_NASCIMENTO': 8, 'IDADE': 9, 'SEXO': 10, 'LIMITE_DE_CREDITO': 11, 'VOLUME_DE_COMPRA': 12, 'PRIMEIRA_COMPRA': 13})
Row((94387575700, 'Walber Lontra', 'R. Cel. Almeida', None, 'Piedade', 'Rio de Janeiro', 'RJ', 22000201, datetime.date(1989, 6, 20), 28, 'M', 60000.0, 12000.0, 1), {'CPF': 0, 'NOME': 1, 'ENDERECO_1': 2, 'ENDERECO_2': 3, 'BAIRRO': 4, 'CIDADE': 5, 'ESTADO': 6, 'CEP': 7, 'DATA_DE_NASCIMENTO': 8, 'IDADE': 9, 'SEXO': 10, 'LIMITE_DE_CREDITO': 11, 'VOLUME_DE_COMPRA': 12, 'PRIMEIRA_COMPRA': 13})
Row((95939180787, 'Fábio Carvalho', 'R. dos Jacarandás da Península', None, 'Barra da Tijuca', 'Rio de Janeiro', 'RJ', 22002020, datetime.date(1992, 1, 5), 16, 'M', 90000.0, 18000.0, 1), {'CPF': 0, 'NOME': 1, 'ENDERECO_1': 2, 'ENDERECO_2': 3, 'BAIRRO': 4, 'CIDADE': 5, 'ESTADO': 6, 'CEP': 7, 'DATA_DE_NASCIMENTO': 8, 'IDADE': 9, 'SEXO': 10, 'LIMITE_DE_CREDITO': 11, 'VOLUME_DE_COMPRA': 12, 'PRIMEIRA_COMPRA': 13})

In [56]:
QUERY = """

SELECT TC.cpf,
       TC.volume_de_compra
FROM   `modified-ripsaw-343701.sucos_vendas.tabela_de_clientes` TC 
LIMIT 20;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((1471156710, 24500.0), {'cpf': 0, 'volume_de_compra': 1})
Row((5576228758, 16000.0), {'cpf': 0, 'volume_de_compra': 1})
Row((5840119709, 21000.0), {'cpf': 0, 'volume_de_compra': 1})
Row((7771579779, 20000.0), {'cpf': 0, 'volume_de_compra': 1})
Row((8502682733, 19000.0), {'cpf': 0, 'volume_de_compra': 1})
Row((8719655770, 24000.0), {'cpf': 0, 'volume_de_compra': 1})
Row((19290992743, 20000.0), {'cpf': 0, 'volume_de_compra': 1})
Row((2600586709, 22000.0), {'cpf': 0, 'volume_de_compra': 1})
Row((3623344710, 22000.0), {'cpf': 0, 'volume_de_compra': 1})
Row((492472718, 9500.0), {'cpf': 0, 'volume_de_compra': 1})
Row((50534475787, 26000.0), {'cpf': 0, 'volume_de_compra': 1})
Row((5648641702, 22000.0), {'cpf': 0, 'volume_de_compra': 1})
Row((9283760794, 25000.0), {'cpf': 0, 'volume_de_compra': 1})
Row((94387575700, 12000.0), {'cpf': 0, 'volume_de_compra': 1})
Row((95939180787, 18000.0), {'cpf': 0, 'volume_de_compra': 1})

In [57]:
QUERY = """

SELECT NF.cpf,
       EXTRACT(year FROM NF.data_venda)  AS ANO,
       EXTRACT(month FROM NF.data_venda) AS MES,
       SUM(INF.quantidade)               AS QUANTIDADE,
       SUM(TC.volume_de_compra)          AS QUANTIDADE_MAXIMA
FROM   `modified-ripsaw-343701.sucos_vendas.notas_fiscais` NF
       INNER JOIN `modified-ripsaw-343701.sucos_vendas.itens_notas_fiscais` INF
               ON NF.numero = INF.numero
       INNER JOIN `modified-ripsaw-343701.sucos_vendas.tabela_de_clientes` TC
               ON NF.cpf = TC.cpf
GROUP  BY NF.cpf,
          ano,
          mes
LIMIT 20;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((8502682733, 2015, 2, 18927, 6555000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((2600586709, 2015, 3, 20474, 8272000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((5648641702, 2015, 3, 24390, 9680000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((1471156710, 2015, 3, 22057, 9530500.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((8719655770, 2015, 3, 20694, 9168000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((50534475787, 2015, 4, 22390, 10400000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((7771579779, 2015, 4, 21444, 7720000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((8502682733, 2015, 4, 20949, 7410000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((492472718, 2015, 5, 24918, 4341500.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((5648641702, 2015, 5, 24004, 9438000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((1471156710, 2015, 5, 26385, 11931500.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((8719655770, 2015, 6, 20038, 8640000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((492472718, 2015, 6, 23361, 4151500.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((5648641702, 2015, 7, 20996, 8624000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((19290992743, 2015, 7, 21914, 8080000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((3623344710, 2015, 7, 21468, 8580000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((9283760794, 2015, 8, 21840, 9975000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((8502682733, 2015, 8, 22096, 8227000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((19290992743, 2015, 8, 22322, 8360000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((5576228758, 2015, 8, 20057, 5776000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})

In [58]:
QUERY = """

SELECT NF.cpf,
       EXTRACT(year FROM NF.data_venda)  AS ANO,
       EXTRACT(month FROM NF.data_venda) AS MES,
       SUM(INF.quantidade)               AS QUANTIDADE,
       MAX(TC.volume_de_compra)          AS QUANTIDADE_MAXIMA
FROM   `modified-ripsaw-343701.sucos_vendas.notas_fiscais` NF
       INNER JOIN `modified-ripsaw-343701.sucos_vendas.itens_notas_fiscais` INF
               ON NF.numero = INF.numero
       INNER JOIN `modified-ripsaw-343701.sucos_vendas.tabela_de_clientes` TC
               ON NF.cpf = TC.cpf
GROUP  BY NF.cpf,
          ano,
          mes
LIMIT 20;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((8502682733, 2015, 2, 18927, 19000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((2600586709, 2015, 3, 20474, 22000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((5648641702, 2015, 3, 24390, 22000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((1471156710, 2015, 3, 22057, 24500.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((8719655770, 2015, 3, 20694, 24000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((50534475787, 2015, 4, 22390, 26000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((7771579779, 2015, 4, 21444, 20000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((8502682733, 2015, 4, 20949, 19000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((492472718, 2015, 5, 24918, 9500.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((5648641702, 2015, 5, 24004, 22000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((1471156710, 2015, 5, 26385, 24500.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((8719655770, 2015, 6, 20038, 24000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((492472718, 2015, 6, 23361, 9500.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((5648641702, 2015, 7, 20996, 22000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((19290992743, 2015, 7, 21914, 20000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((3623344710, 2015, 7, 21468, 22000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((9283760794, 2015, 8, 21840, 25000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((8502682733, 2015, 8, 22096, 19000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((19290992743, 2015, 8, 22322, 20000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})
Row((5576228758, 2015, 8, 20057, 16000.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'QUANTIDADE': 3, 'QUANTIDADE_MAXIMA': 4})

In [59]:
QUERY = """

SELECT NF.cpf,
       EXTRACT(year FROM NF.data_venda)                   AS ANO,
       EXTRACT(month FROM NF.data_venda)                  AS MES,
       ( MAX(TC.volume_de_compra) - SUM(INF.quantidade) ) AS DIFERENCA
FROM   `modified-ripsaw-343701.sucos_vendas.notas_fiscais` NF
       INNER JOIN `modified-ripsaw-343701.sucos_vendas.itens_notas_fiscais` INF
               ON NF.numero = INF.numero
       INNER JOIN `modified-ripsaw-343701.sucos_vendas.tabela_de_clientes` TC
               ON NF.cpf = TC.cpf
GROUP  BY NF.cpf,
          ano,
          mes
LIMIT 20;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((8502682733, 2015, 2, 73.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'DIFERENCA': 3})
Row((2600586709, 2015, 3, 1526.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'DIFERENCA': 3})
Row((5648641702, 2015, 3, -2390.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'DIFERENCA': 3})
Row((1471156710, 2015, 3, 2443.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'DIFERENCA': 3})
Row((8719655770, 2015, 3, 3306.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'DIFERENCA': 3})
Row((50534475787, 2015, 4, 3610.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'DIFERENCA': 3})
Row((7771579779, 2015, 4, -1444.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'DIFERENCA': 3})
Row((8502682733, 2015, 4, -1949.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'DIFERENCA': 3})
Row((492472718, 2015, 5, -15418.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'DIFERENCA': 3})
Row((5648641702, 2015, 5, -2004.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'DIFERENCA': 3})
Row((1471156710, 2015, 5, -1885.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'DIFERENCA': 3})
Row((8719655770, 2015, 6, 3962.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'DIFERENCA': 3})
Row((492472718, 2015, 6, -13861.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'DIFERENCA': 3})
Row((5648641702, 2015, 7, 1004.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'DIFERENCA': 3})
Row((19290992743, 2015, 7, -1914.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'DIFERENCA': 3})
Row((3623344710, 2015, 7, 532.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'DIFERENCA': 3})
Row((9283760794, 2015, 8, 3160.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'DIFERENCA': 3})
Row((8502682733, 2015, 8, -3096.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'DIFERENCA': 3})
Row((19290992743, 2015, 8, -2322.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'DIFERENCA': 3})
Row((5576228758, 2015, 8, -4057.0), {'cpf': 0, 'ANO': 1, 'MES': 2, 'DIFERENCA': 3})

In [60]:
QUERY = """

SELECT X.cpf,
       X.ano,
       X.mes,
       CASE
         WHEN X.diferenca >= 0 THEN "VÁLIDA"
         ELSE "INVÁLIDA"
       END AS STATUS
FROM   (SELECT NF.cpf,
               EXTRACT(year FROM NF.data_venda)                   AS ANO,
               EXTRACT(month FROM NF.data_venda)                  AS MES,
               ( MAX(TC.volume_de_compra) - SUM(INF.quantidade) ) AS DIFERENCA
        FROM   `modified-ripsaw-343701.sucos_vendas.notas_fiscais` NF
INNER JOIN `modified-ripsaw-343701.sucos_vendas.itens_notas_fiscais` INF
        ON NF.numero = INF.numero
INNER JOIN `modified-ripsaw-343701.sucos_vendas.tabela_de_clientes` TC
        ON NF.cpf = TC.cpf
        GROUP  BY NF.cpf,
                  ano,
                  mes) X
LIMIT 20;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((8502682733, 2015, 2, 'VÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((2600586709, 2015, 3, 'VÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((5648641702, 2015, 3, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((1471156710, 2015, 3, 'VÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((8719655770, 2015, 3, 'VÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((50534475787, 2015, 4, 'VÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((7771579779, 2015, 4, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((8502682733, 2015, 4, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((492472718, 2015, 5, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((5648641702, 2015, 5, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((1471156710, 2015, 5, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((8719655770, 2015, 6, 'VÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((492472718, 2015, 6, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((5648641702, 2015, 7, 'VÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((19290992743, 2015, 7, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((3623344710, 2015, 7, 'VÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((9283760794, 2015, 8, 'VÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((8502682733, 2015, 8, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((19290992743, 2015, 8, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((5576228758, 2015, 8, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})

In [61]:
QUERY = """

SELECT X.cpf,
       X.ano,
       X.mes,
       CASE
         WHEN X.diferenca >= 0 THEN "VÁLIDA"
         ELSE "INVÁLIDA"
       END AS STATUS
FROM   (SELECT NF.cpf,
               EXTRACT(year FROM NF.data_venda)                   AS ANO,
               EXTRACT(month FROM NF.data_venda)                  AS MES,
               ( MAX(TC.volume_de_compra) - SUM(INF.quantidade) ) AS DIFERENCA
        FROM   `modified-ripsaw-343701.sucos_vendas.notas_fiscais` NF
INNER JOIN `modified-ripsaw-343701.sucos_vendas.itens_notas_fiscais` INF
        ON NF.numero = INF.numero
INNER JOIN `modified-ripsaw-343701.sucos_vendas.tabela_de_clientes` TC
        ON NF.cpf = TC.cpf
        GROUP  BY NF.cpf,
                  ano,
                  mes) X
ORDER  BY X.cpf,
          X.ano,
          X.mes
LIMIT 20;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((492472718, 2015, 1, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((492472718, 2015, 2, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((492472718, 2015, 3, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((492472718, 2015, 4, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((492472718, 2015, 5, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((492472718, 2015, 6, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((492472718, 2015, 7, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((492472718, 2015, 8, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((492472718, 2015, 9, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((492472718, 2015, 10, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((492472718, 2015, 11, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((492472718, 2015, 12, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((492472718, 2016, 1, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((492472718, 2016, 2, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((492472718, 2016, 3, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((492472718, 2016, 4, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((492472718, 2016, 5, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((492472718, 2016, 6, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((492472718, 2016, 7, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})
Row((492472718, 2016, 8, 'INVÁLIDA'), {'cpf': 0, 'ano': 1, 'mes': 2, 'STATUS': 3})

In [62]:
QUERY = """

SELECT *
FROM   `modified-ripsaw-343701.sucos_vendas.tabela_de_produtos` TP
       INNER JOIN `modified-ripsaw-343701.sucos_vendas.itens_notas_fiscais` INF
               ON TP.codigo_do_produto = INF.codigo_do_produto
LIMIT 20;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((723457, 'Festival de Sabores - 700 ml - Maracujá', 'Garrafa', '700 ml', 'Maracujá', '4.912', None, None, 2893, 723457, 10, 4.912), {'CODIGO_DO_PRODUTO': 0, 'NOME_DO_PRODUTO': 1, 'EMBALAGEM': 2, 'TAMANHO': 3, 'SABOR': 4, 'PRECO_DE_LISTA': 5, 'string_field_6': 6, 'double_field_7': 7, 'NUMERO': 8, 'CODIGO_DO_PRODUTO_1': 9, 'QUANTIDADE': 10, 'PRECO': 11})
Row((723457, 'Festival de Sabores - 700 ml - Maracujá', 'Garrafa', '700 ml', 'Maracujá', '4.912', None, None, 4521, 723457, 10, 4.912), {'CODIGO_DO_PRODUTO': 0, 'NOME_DO_PRODUTO': 1, 'EMBALAGEM': 2, 'TAMANHO': 3, 'SABOR': 4, 'PRECO_DE_LISTA': 5, 'string_field_6': 6, 'double_field_7': 7, 'NUMERO': 8, 'CODIGO_DO_PRODUTO_1': 9, 'QUANTIDADE': 10, 'PRECO': 11})
Row((723457, 'Festival de Sabores - 700 ml - Maracujá', 'Garrafa', '700 ml', 'Maracujá', '4.912', None, None, 5396, 723457, 10, 4.912), {'CODIGO_DO_PRODUTO': 0, 'NOME_DO_PRODUTO': 1, 'EMBALAGEM': 2, 'TAMANHO': 3, 'SABOR': 4, 'PRECO_DE_LISTA': 5, 'string_field_6': 6, 'double_field_7': 7, 'NUMERO': 8, 'CODIGO_DO_PRODUTO_1': 9, 'QUANTIDADE': 10, 'PRECO': 11})
Row((723457, 'Festival de Sabores - 700 ml - Maracujá', 'Garrafa', '700 ml', 'Maracujá', '4.912', None, None, 6073, 723457, 10, 4.912), {'CODIGO_DO_PRODUTO': 0, 'NOME_DO_PRODUTO': 1, 'EMBALAGEM': 2, 'TAMANHO': 3, 'SABOR': 4, 'PRECO_DE_LISTA': 5, 'string_field_6': 6, 'double_field_7': 7, 'NUMERO': 8, 'CODIGO_DO_PRODUTO_1': 9, 'QUANTIDADE': 10, 'PRECO': 11})
Row((723457, 'Festival de Sabores - 700 ml - Maracujá', 'Garrafa', '700 ml', 'Maracujá', '4.912', None, None, 6571, 723457, 10, 4.912), {'CODIGO_DO_PRODUTO': 0, 'NOME_DO_PRODUTO': 1, 'EMBALAGEM': 2, 'TAMANHO': 3, 'SABOR': 4, 'PRECO_DE_LISTA': 5, 'string_field_6': 6, 'double_field_7': 7, 'NUMERO': 8, 'CODIGO_DO_PRODUTO_1': 9, 'QUANTIDADE': 10, 'PRECO': 11})
Row((723457, 'Festival de Sabores - 700 ml - Maracujá', 'Garrafa', '700 ml', 'Maracujá', '4.912', None, None, 6780, 723457, 10, 4.912), {'CODIGO_DO_PRODUTO': 0, 'NOME_DO_PRODUTO': 1, 'EMBALAGEM': 2, 'TAMANHO': 3, 'SABOR': 4, 'PRECO_DE_LISTA': 5, 'string_field_6': 6, 'double_field_7': 7, 'NUMERO': 8, 'CODIGO_DO_PRODUTO_1': 9, 'QUANTIDADE': 10, 'PRECO': 11})
Row((723457, 'Festival de Sabores - 700 ml - Maracujá', 'Garrafa', '700 ml', 'Maracujá', '4.912', None, None, 7998, 723457, 10, 4.912), {'CODIGO_DO_PRODUTO': 0, 'NOME_DO_PRODUTO': 1, 'EMBALAGEM': 2, 'TAMANHO': 3, 'SABOR': 4, 'PRECO_DE_LISTA': 5, 'string_field_6': 6, 'double_field_7': 7, 'NUMERO': 8, 'CODIGO_DO_PRODUTO_1': 9, 'QUANTIDADE': 10, 'PRECO': 11})
Row((723457, 'Festival de Sabores - 700 ml - Maracujá', 'Garrafa', '700 ml', 'Maracujá', '4.912', None, None, 8778, 723457, 10, 4.912), {'CODIGO_DO_PRODUTO': 0, 'NOME_DO_PRODUTO': 1, 'EMBALAGEM': 2, 'TAMANHO': 3, 'SABOR': 4, 'PRECO_DE_LISTA': 5, 'string_field_6': 6, 'double_field_7': 7, 'NUMERO': 8, 'CODIGO_DO_PRODUTO_1': 9, 'QUANTIDADE': 10, 'PRECO': 11})
Row((723457, 'Festival de Sabores - 700 ml - Maracujá', 'Garrafa', '700 ml', 'Maracujá', '4.912', None, None, 8994, 723457, 10, 4.912), {'CODIGO_DO_PRODUTO': 0, 'NOME_DO_PRODUTO': 1, 'EMBALAGEM': 2, 'TAMANHO': 3, 'SABOR': 4, 'PRECO_DE_LISTA': 5, 'string_field_6': 6, 'double_field_7': 7, 'NUMERO': 8, 'CODIGO_DO_PRODUTO_1': 9, 'QUANTIDADE': 10, 'PRECO': 11})
Row((723457, 'Festival de Sabores - 700 ml - Maracujá', 'Garrafa', '700 ml', 'Maracujá', '4.912', None, None, 9500, 723457, 10, 4.912), {'CODIGO_DO_PRODUTO': 0, 'NOME_DO_PRODUTO': 1, 'EMBALAGEM': 2, 'TAMANHO': 3, 'SABOR': 4, 'PRECO_DE_LISTA': 5, 'string_field_6': 6, 'double_field_7': 7, 'NUMERO': 8, 'CODIGO_DO_PRODUTO_1': 9, 'QUANTIDADE': 10, 'PRECO': 11})
Row((723457, 'Festival de Sabores - 700 ml - Maracujá', 'Garrafa', '700 ml', 'Maracujá', '4.912', None, None, 9587, 723457, 10, 4.912), {'CODIGO_DO_PRODUTO': 0, 'NOME_DO_PRODUTO': 1, 'EMBALAGEM': 2, 'TAMANHO': 3, 'SABOR': 4, 'PRECO_DE_LISTA': 5, 'string_field_6': 6, 'double_field_7': 7, 'NUMERO': 8, 'CODIGO_DO_PRODUTO_1': 9, 'QUANTIDADE': 10, 'PRECO': 11})
Row((723457, 'Festival de Sabores - 700 ml - Maracujá', 'Garrafa', '700 ml', 'Maracujá', '4.912', None, None, 12513, 723457, 10, 4.912), {'CODIGO_DO_PRODUTO': 0, 'NOME_DO_PRODUTO': 1, 'EMBALAGEM': 2, 'TAMANHO': 3, 'SABOR': 4, 'PRECO_DE_LISTA': 5, 'string_field_6': 6, 'double_field_7': 7, 'NUMERO': 8, 'CODIGO_DO_PRODUTO_1': 9, 'QUANTIDADE': 10, 'PRECO': 11})
Row((723457, 'Festival de Sabores - 700 ml - Maracujá', 'Garrafa', '700 ml', 'Maracujá', '4.912', None, None, 12943, 723457, 10, 4.912), {'CODIGO_DO_PRODUTO': 0, 'NOME_DO_PRODUTO': 1, 'EMBALAGEM': 2, 'TAMANHO': 3, 'SABOR': 4, 'PRECO_DE_LISTA': 5, 'string_field_6': 6, 'double_field_7': 7, 'NUMERO': 8, 'CODIGO_DO_PRODUTO_1': 9, 'QUANTIDADE': 10, 'PRECO': 11})
Row((723457, 'Festival de Sabores - 700 ml - Maracujá', 'Garrafa', '700 ml', 'Maracujá', '4.912', None, None, 15379, 723457, 10, 4.912), {'CODIGO_DO_PRODUTO': 0, 'NOME_DO_PRODUTO': 1, 'EMBALAGEM': 2, 'TAMANHO': 3, 'SABOR': 4, 'PRECO_DE_LISTA': 5, 'string_field_6': 6, 'double_field_7': 7, 'NUMERO': 8, 'CODIGO_DO_PRODUTO_1': 9, 'QUANTIDADE': 10, 'PRECO': 11})
Row((723457, 'Festival de Sabores - 700 ml - Maracujá', 'Garrafa', '700 ml', 'Maracujá', '4.912', None, None, 15590, 723457, 10, 4.912), {'CODIGO_DO_PRODUTO': 0, 'NOME_DO_PRODUTO': 1, 'EMBALAGEM': 2, 'TAMANHO': 3, 'SABOR': 4, 'PRECO_DE_LISTA': 5, 'string_field_6': 6, 'double_field_7': 7, 'NUMERO': 8, 'CODIGO_DO_PRODUTO_1': 9, 'QUANTIDADE': 10, 'PRECO': 11})
Row((723457, 'Festival de Sabores - 700 ml - Maracujá', 'Garrafa', '700 ml', 'Maracujá', '4.912', None, None, 15708, 723457, 10, 4.912), {'CODIGO_DO_PRODUTO': 0, 'NOME_DO_PRODUTO': 1, 'EMBALAGEM': 2, 'TAMANHO': 3, 'SABOR': 4, 'PRECO_DE_LISTA': 5, 'string_field_6': 6, 'double_field_7': 7, 'NUMERO': 8, 'CODIGO_DO_PRODUTO_1': 9, 'QUANTIDADE': 10, 'PRECO': 11})
Row((723457, 'Festival de Sabores - 700 ml - Maracujá', 'Garrafa', '700 ml', 'Maracujá', '4.912', None, None, 15745, 723457, 10, 4.912), {'CODIGO_DO_PRODUTO': 0, 'NOME_DO_PRODUTO': 1, 'EMBALAGEM': 2, 'TAMANHO': 3, 'SABOR': 4, 'PRECO_DE_LISTA': 5, 'string_field_6': 6, 'double_field_7': 7, 'NUMERO': 8, 'CODIGO_DO_PRODUTO_1': 9, 'QUANTIDADE': 10, 'PRECO': 11})
Row((723457, 'Festival de Sabores - 700 ml - Maracujá', 'Garrafa', '700 ml', 'Maracujá', '4.912', None, None, 16048, 723457, 10, 4.912), {'CODIGO_DO_PRODUTO': 0, 'NOME_DO_PRODUTO': 1, 'EMBALAGEM': 2, 'TAMANHO': 3, 'SABOR': 4, 'PRECO_DE_LISTA': 5, 'string_field_6': 6, 'double_field_7': 7, 'NUMERO': 8, 'CODIGO_DO_PRODUTO_1': 9, 'QUANTIDADE': 10, 'PRECO': 11})
Row((723457, 'Festival de Sabores - 700 ml - Maracujá', 'Garrafa', '700 ml', 'Maracujá', '4.912', None, None, 16364, 723457, 10, 4.912), {'CODIGO_DO_PRODUTO': 0, 'NOME_DO_PRODUTO': 1, 'EMBALAGEM': 2, 'TAMANHO': 3, 'SABOR': 4, 'PRECO_DE_LISTA': 5, 'string_field_6': 6, 'double_field_7': 7, 'NUMERO': 8, 'CODIGO_DO_PRODUTO_1': 9, 'QUANTIDADE': 10, 'PRECO': 11})
Row((723457, 'Festival de Sabores - 700 ml - Maracujá', 'Garrafa', '700 ml', 'Maracujá', '4.912', None, None, 16412, 723457, 10, 4.912), {'CODIGO_DO_PRODUTO': 0, 'NOME_DO_PRODUTO': 1, 'EMBALAGEM': 2, 'TAMANHO': 3, 'SABOR': 4, 'PRECO_DE_LISTA': 5, 'string_field_6': 6, 'double_field_7': 7, 'NUMERO': 8, 'CODIGO_DO_PRODUTO_1': 9, 'QUANTIDADE': 10, 'PRECO': 11})

In [ ]:
QUERY = """

SELECT TP.sabor,
       INF.quantidade
FROM   `modified-ripsaw-343701.sucos_vendas.tabela_de_produtos` TP
       INNER JOIN `modified-ripsaw-343701.sucos_vendas.itens_notas_fiscais` INF
               ON TP.codigo_do_produto = INF.codigo_do_produto; 

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

In [63]:
QUERY = """

SELECT TP.sabor,
       NF.data_venda,
       INF.quantidade
FROM   `modified-ripsaw-343701.sucos_vendas.tabela_de_produtos` TP
       INNER JOIN `modified-ripsaw-343701.sucos_vendas.itens_notas_fiscais` INF
               ON TP.codigo_do_produto = INF.codigo_do_produto
       INNER JOIN `modified-ripsaw-343701.sucos_vendas.notas_fiscais` NF
               ON INF.numero = NF.numero
LIMIT 20;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('Maracujá', datetime.date(2015, 2, 7), 10), {'sabor': 0, 'data_venda': 1, 'quantidade': 2})
Row(('Maracujá', datetime.date(2015, 3, 2), 10), {'sabor': 0, 'data_venda': 1, 'quantidade': 2})
Row(('Maracujá', datetime.date(2015, 3, 13), 10), {'sabor': 0, 'data_venda': 1, 'quantidade': 2})
Row(('Maracujá', datetime.date(2015, 3, 23), 10), {'sabor': 0, 'data_venda': 1, 'quantidade': 2})
Row(('Maracujá', datetime.date(2015, 3, 31), 10), {'sabor': 0, 'data_venda': 1, 'quantidade': 2})
Row(('Maracujá', datetime.date(2015, 4, 2), 10), {'sabor': 0, 'data_venda': 1, 'quantidade': 2})
Row(('Maracujá', datetime.date(2015, 4, 18), 10), {'sabor': 0, 'data_venda': 1, 'quantidade': 2})
Row(('Maracujá', datetime.date(2015, 4, 29), 10), {'sabor': 0, 'data_venda': 1, 'quantidade': 2})
Row(('Maracujá', datetime.date(2015, 5, 2), 10), {'sabor': 0, 'data_venda': 1, 'quantidade': 2})
Row(('Maracujá', datetime.date(2015, 5, 9), 10), {'sabor': 0, 'data_venda': 1, 'quantidade': 2})
Row(('Maracujá', datetime.date(2015, 5, 10), 10), {'sabor': 0, 'data_venda': 1, 'quantidade': 2})
Row(('Maracujá', datetime.date(2015, 6, 17), 10), {'sabor': 0, 'data_venda': 1, 'quantidade': 2})
Row(('Maracujá', datetime.date(2015, 6, 23), 10), {'sabor': 0, 'data_venda': 1, 'quantidade': 2})
Row(('Maracujá', datetime.date(2015, 7, 25), 10), {'sabor': 0, 'data_venda': 1, 'quantidade': 2})
Row(('Maracujá', datetime.date(2015, 7, 28), 10), {'sabor': 0, 'data_venda': 1, 'quantidade': 2})
Row(('Maracujá', datetime.date(2015, 7, 30), 10), {'sabor': 0, 'data_venda': 1, 'quantidade': 2})
Row(('Maracujá', datetime.date(2015, 7, 30), 10), {'sabor': 0, 'data_venda': 1, 'quantidade': 2})
Row(('Maracujá', datetime.date(2015, 8, 3), 10), {'sabor': 0, 'data_venda': 1, 'quantidade': 2})
Row(('Maracujá', datetime.date(2015, 8, 7), 10), {'sabor': 0, 'data_venda': 1, 'quantidade': 2})
Row(('Maracujá', datetime.date(2015, 8, 8), 10), {'sabor': 0, 'data_venda': 1, 'quantidade': 2})

In [64]:
QUERY = """

SELECT TP.sabor,
       EXTRACT(year FROM NF.data_venda) AS ANO,
       SUM(INF.quantidade)              AS QUANTIDADE
FROM   `modified-ripsaw-343701.sucos_vendas.tabela_de_produtos` TP
       INNER JOIN `modified-ripsaw-343701.sucos_vendas.itens_notas_fiscais` INF
               ON TP.codigo_do_produto = INF.codigo_do_produto
       INNER JOIN `modified-ripsaw-343701.sucos_vendas.notas_fiscais` NF
               ON INF.numero = NF.numero
WHERE  EXTRACT(year FROM NF.data_venda) = 2016
GROUP  BY TP.sabor,
          ano
ORDER  BY quantidade DESC
LIMIT 20;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('1', 2016, 728225), {'sabor': 0, 'ANO': 1, 'QUANTIDADE': 2})
Row(('Manga', 2016, 487460), {'sabor': 0, 'ANO': 1, 'QUANTIDADE': 2})
Row(('Laranja', 2016, 483663), {'sabor': 0, 'ANO': 1, 'QUANTIDADE': 2})
Row(('Melância', 2016, 245886), {'sabor': 0, 'ANO': 1, 'QUANTIDADE': 2})
Row(('Maça', 2016, 242854), {'sabor': 0, 'ANO': 1, 'QUANTIDADE': 2})
Row(('Açai', 2016, 239726), {'sabor': 0, 'ANO': 1, 'QUANTIDADE': 2})
Row(('Lima/Limão', 2016, 239634), {'sabor': 0, 'ANO': 1, 'QUANTIDADE': 2})
Row(('Morango/Limão', 2016, 238118), {'sabor': 0, 'ANO': 1, 'QUANTIDADE': 2})
Row(('Cereja/Maça', 2016, 236535), {'sabor': 0, 'ANO': 1, 'QUANTIDADE': 2})
Row(('Maracujá', 2016, 122680), {'sabor': 0, 'ANO': 1, 'QUANTIDADE': 2})
Row(('Uva', 2016, 120597), {'sabor': 0, 'ANO': 1, 'QUANTIDADE': 2})
Row(('Cereja', 2016, 120478), {'sabor': 0, 'ANO': 1, 'QUANTIDADE': 2})
Row(('Morango', 2016, 120384), {'sabor': 0, 'ANO': 1, 'QUANTIDADE': 2})

In [65]:
QUERY = """

SELECT EXTRACT(year FROM NF.data_venda) AS ANO,
       SUM(INF.quantidade)              AS QUANTIDADE
FROM  `modified-ripsaw-343701.sucos_vendas.itens_notas_fiscais` INF
      INNER JOIN `modified-ripsaw-343701.sucos_vendas.notas_fiscais` NF
              ON INF.numero = NF.numero
WHERE  EXTRACT(year FROM NF.data_venda) = 2016
GROUP  BY ano
LIMIT 20;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((2016, 3626240), {'ANO': 0, 'QUANTIDADE': 1})

In [66]:
QUERY = """

WITH vendas_por_sabor AS
(
           SELECT     tp.sabor,
                      EXTRACT(year FROM nf.data_venda) AS ano,
                      SUM(inf.quantidade)              AS quantidade
           FROM       `modified-ripsaw-343701.sucos_vendas.tabela_de_produtos` tp
           INNER JOIN `modified-ripsaw-343701.sucos_vendas.itens_notas_fiscais` inf
           ON         tp.codigo_do_produto = inf.codigo_do_produto
           INNER JOIN `modified-ripsaw-343701.sucos_vendas.notas_fiscais` nf
           ON         inf.numero = nf.numero
           WHERE      extract(year FROM nf.data_venda) = 2016
           GROUP BY   tp.sabor,
                      ano
           ORDER BY   quantidade DESC), vendas_totais AS
(
           SELECT     EXTRACT(year FROM nf.data_venda) AS ano,
                      SUM(inf.quantidade)              AS quantidade
           FROM      `modified-ripsaw-343701.sucos_vendas.itens_notas_fiscais` inf
           INNER JOIN `modified-ripsaw-343701.sucos_vendas.notas_fiscais` nf
           ON         inf.numero = nf.numero
           WHERE      EXTRACT(year FROM nf.data_venda) = 2016
           GROUP BY   ano)
SELECT     vendas_por_sabor.sabor,
           vendas_por_sabor.quantidade,
           vendas_totais.quantidade AS quantidade_total
FROM       vendas_por_sabor
INNER JOIN vendas_totais
ON         vendas_por_sabor.ano = vendas_totais.ano
LIMIT 20;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('Maracujá', 122680, 3626240), {'sabor': 0, 'quantidade': 1, 'quantidade_total': 2})
Row(('Laranja', 483663, 3626240), {'sabor': 0, 'quantidade': 1, 'quantidade_total': 2})
Row(('Maça', 242854, 3626240), {'sabor': 0, 'quantidade': 1, 'quantidade_total': 2})
Row(('Cereja/Maça', 236535, 3626240), {'sabor': 0, 'quantidade': 1, 'quantidade_total': 2})
Row(('1', 728225, 3626240), {'sabor': 0, 'quantidade': 1, 'quantidade_total': 2})
Row(('Morango', 120384, 3626240), {'sabor': 0, 'quantidade': 1, 'quantidade_total': 2})
Row(('Manga', 487460, 3626240), {'sabor': 0, 'quantidade': 1, 'quantidade_total': 2})
Row(('Lima/Limão', 239634, 3626240), {'sabor': 0, 'quantidade': 1, 'quantidade_total': 2})
Row(('Açai', 239726, 3626240), {'sabor': 0, 'quantidade': 1, 'quantidade_total': 2})
Row(('Morango/Limão', 238118, 3626240), {'sabor': 0, 'quantidade': 1, 'quantidade_total': 2})
Row(('Melância', 245886, 3626240), {'sabor': 0, 'quantidade': 1, 'quantidade_total': 2})
Row(('Uva', 120597, 3626240), {'sabor': 0, 'quantidade': 1, 'quantidade_total': 2})
Row(('Cereja', 120478, 3626240), {'sabor': 0, 'quantidade': 1, 'quantidade_total': 2})

In [67]:
QUERY = """

WITH vendas_por_sabor AS
(
           SELECT     tp.sabor,
                      EXTRACT(year FROM nf.data_venda) AS ano,
                      SUM(inf.quantidade)              AS quantidade
           FROM       `modified-ripsaw-343701.sucos_vendas.tabela_de_produtos` tp
           INNER JOIN `modified-ripsaw-343701.sucos_vendas.itens_notas_fiscais` inf
           ON         tp.codigo_do_produto = inf.codigo_do_produto
           INNER JOIN `modified-ripsaw-343701.sucos_vendas.notas_fiscais` nf
           ON         inf.numero = nf.numero
           WHERE      EXTRACT(year FROM nf.data_venda) = 2016
           GROUP BY   tp.sabor,
                      ano
           ORDER BY   quantidade DESC), vendas_totais AS
(
           SELECT     EXTRACT(year FROM nf.data_venda) AS ano,
                      SUM(inf.quantidade)              AS quantidade
           FROM       `modified-ripsaw-343701.sucos_vendas.itens_notas_fiscais` inf
           INNER JOIN `modified-ripsaw-343701.sucos_vendas.notas_fiscais` nf
           ON         inf.numero = nf.numero
           WHERE      EXTRACT(year FROM nf.data_venda) = 2016
           GROUP BY   ano)
SELECT     vendas_por_sabor.sabor,
           vendas_por_sabor.quantidade,
           (vendas_por_sabor.quantidade/vendas_totais.quantidade)*100 AS percentual_participacao
FROM       vendas_por_sabor
INNER JOIN vendas_totais
ON         vendas_por_sabor.ano = vendas_totais.ano
ORDER BY   vendas_por_sabor.quantidade DESC
LIMIT 20;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('1', 728225, 20.082096055418283), {'sabor': 0, 'quantidade': 1, 'percentual_participacao': 2})
Row(('Manga', 487460, 13.442574126367807), {'sabor': 0, 'quantidade': 1, 'percentual_participacao': 2})
Row(('Laranja', 483663, 13.337865116484293), {'sabor': 0, 'quantidade': 1, 'percentual_participacao': 2})
Row(('Melância', 245886, 6.780742587363219), {'sabor': 0, 'quantidade': 1, 'percentual_participacao': 2})
Row(('Maça', 242854, 6.697129809389341), {'sabor': 0, 'quantidade': 1, 'percentual_participacao': 2})
Row(('Açai', 239726, 6.610869661136605), {'sabor': 0, 'quantidade': 1, 'percentual_participacao': 2})
Row(('Lima/Limão', 239634, 6.6083325979527), {'sabor': 0, 'quantidade': 1, 'percentual_participacao': 2})
Row(('Morango/Limão', 238118, 6.56652620896576), {'sabor': 0, 'quantidade': 1, 'percentual_participacao': 2})
Row(('Cereja/Maça', 236535, 6.522872176138369), {'sabor': 0, 'quantidade': 1, 'percentual_participacao': 2})
Row(('Maracujá', 122680, 3.383118602188493), {'sabor': 0, 'quantidade': 1, 'percentual_participacao': 2})
Row(('Uva', 120597, 3.325676182492058), {'sabor': 0, 'quantidade': 1, 'percentual_participacao': 2})
Row(('Cereja', 120478, 3.3223945464172253), {'sabor': 0, 'quantidade': 1, 'percentual_participacao': 2})
Row(('Morango', 120384, 3.3198023296858454), {'sabor': 0, 'quantidade': 1, 'percentual_participacao': 2})