<img src = "https://images2.imgbox.com/32/ac/wucGkuem_o.png" width="300">

In [1]:
%pip install -q google-cloud-bigquery

Note: you may need to restart the kernel to use updated packages.

In [2]:
import os

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'modified-ripsaw-343701.json'

In [3]:
from google.cloud import bigquery

In [4]:
bigquery_client = bigquery.Client(project='modified-ripsaw-343701')

In [5]:
QUERY = """

WITH example AS
(SELECT 'Sat' AS Day, 1451 AS numrides, 1018 AS oneways
UNION ALL SELECT 'Sun', 2376, 936)
SELECT *, (oneways/numrides) as frac_oneway, 
ROUND(oneways/numrides, 2) AS frac_noeway_round FROM example; 

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('Sat', 1451, 1018, 0.7015851137146796, 0.7), {'Day': 0, 'numrides': 1, 'oneways': 2, 'frac_oneway': 3, 'frac_noeway_round': 4})
Row(('Sun', 2376, 936, 0.3939393939393939, 0.39), {'Day': 0, 'numrides': 1, 'oneways': 2, 'frac_oneway': 3, 'frac_noeway_round': 4})

In [6]:
QUERY = """

WITH example AS
(SELECT 'Sat' AS Day, 1451 AS numrides, 1018 AS oneways
UNION ALL SELECT 'Sun', 2376, 936
UNION ALL SELECT 'Wed', 0, 0)
SELECT *, ROUND(IEEE_Divide(oneways, numrides), 2) AS frac_noaway_round FROM example;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('Sat', 1451, 1018, 0.7), {'Day': 0, 'numrides': 1, 'oneways': 2, 'frac_noaway_round': 3})
Row(('Sun', 2376, 936, 0.39), {'Day': 0, 'numrides': 1, 'oneways': 2, 'frac_noaway_round': 3})
Row(('Wed', 0, 0, nan), {'Day': 0, 'numrides': 1, 'oneways': 2, 'frac_noaway_round': 3})

In [7]:
# A função SAFE retorna valor NULL caso haja um erro.

QUERY = """

SELECT SAFE.LOG (10, -3), SAFE.LOG (10, 3);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((None, 2.095903274289385), {'f0_': 0, 'f1_': 1})

In [8]:
QUERY = """

WITH example AS
(SELECT 'Sat' AS Day, 1451 AS numrides, 1018 AS oneways
UNION ALL SELECT 'Sun', 2376, 936
UNION ALL SELECT 'Mon', NULL, NULL
UNION ALL SELECT 'Tue', IEEE_Divide(3 ,0) , 0
UNION ALL SELECT 'Wed', IEEE_Divide(-3 ,0) , 0
)
SELECT * FROM example 
WHERE numrides < 2000;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('Sat', 1451.0, 1018), {'Day': 0, 'numrides': 1, 'oneways': 2})
Row(('Wed', -inf, 0), {'Day': 0, 'numrides': 1, 'oneways': 2})

In [9]:
# Para melhorar a precisão usamos o comando NUMERIC que converte um FLOAT em um NUMERIC

QUERY = """

WITH example AS 
(SELECT 1.23 AS PAYMENT
UNION ALL SELECT 7.89
UNION ALL SELECT 12.43)
SELECT SUM(PAYMENT) AS TOTAL_PAYMENT, AVG(PAYMENT) AS AVG_PAYMENT
FROM example;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((21.549999999999997, 7.183333333333334), {'TOTAL_PAYMENT': 0, 'AVG_PAYMENT': 1})

In [10]:
# SIGN - retorna um numero 1 ou 0. 1 se for positivo e 0 se for negativo

QUERY = """

SELECT SIGN (-3.45);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((-1.0,), {'f0_': 0})

In [11]:
# IS_INF checa se o numero é infinito ou não

QUERY = """

SELECT IS_INF(IEEE_DIVIDE(0,0)), IEEE_DIVIDE(0,0);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((False, nan), {'f0_': 0, 'f1_': 1})

In [12]:
# IS_NAN checa se o numero é NAN ou não

QUERY = """

SELECT IS_NAN(IEEE_DIVIDE(3,0)), IEEE_DIVIDE(3,0);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((False, inf), {'f0_': 0, 'f1_': 1})

In [13]:
# RAND - Gera um número randomico. entre 0 e 1 (exceto o 1)

QUERY = """

SELECT RAND();

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((0.3950765775453075,), {'f0_': 0})

In [14]:
# Raiz Quadrada

QUERY = """

SELECT SQRT(144);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((12.0,), {'f0_': 0})

In [18]:
#  Elevado a potência

QUERY = """

SELECT POWER (2, 4);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((16.0,), {'f0_': 0})

In [19]:
QUERY = """

SELECT LOG10(5);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((0.6989700043360189,), {'f0_': 0})

In [20]:
# Retorna o maior numero dentro de um array

QUERY = """

SELECT GREATEST (1,2,3,3,4,4,5,4,5,6,7,6,5,8,2,3,4);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((8,), {'f0_': 0})

In [21]:
# Retorna o maior numero dentro de um array

QUERY = """

SELECT LEAST (1,2,3,3,4,4,5,4,5,6,7,6,5,8,2,3,4);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((1,), {'f0_': 0})

In [22]:
# EXPRESSÕES MATEMATICAS - SAFE_ADD, SAFE_SUBSTRACT, SAFE_DIVIDE, SAVE_NEGATIVE

QUERY = """

SELECT ((4+5)/3)*10;
SELECT SAFE_MULTIPLY (300000000000, 400000000000);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((None,), {'f0_': 0})

In [23]:
# MOD

QUERY = """

SELECT MOD (10,3);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((1,), {'f0_': 0})

In [24]:
QUERY = """

SELECT ROUND(3.42, 1), TRUNC(3.42, 1);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((3.4, 3.4), {'f0_': 0, 'f1_': 1})

In [25]:
QUERY = """

SELECT CEIL(3.48), FLOOR(3.48);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((4.0, 3.0), {'f0_': 0, 'f1_': 1})

In [26]:
# QUANTOS ALUNOS EU TENHO ENTRE 10 E 13, ENTRE 13 E 15 E ENTRE 15 E 18?

QUERY = """

WITH Students AS
(SELECT 'A1' AS ALUNO, 11 AS AGE
UNION ALL SELECT 'A2' , 12
UNION ALL SELECT 'A3' , 11
UNION ALL SELECT 'A4' , 14
UNION ALL SELECT 'A5' , 17
UNION ALL SELECT 'A6' , 17
UNION ALL SELECT 'A7' , 18
UNION ALL SELECT 'A8' , 16
UNION ALL SELECT 'A9' , 11
UNION ALL SELECT 'A10' , 12
UNION ALL SELECT 'A11' , 13
UNION ALL SELECT 'A12' , 13
UNION ALL SELECT 'A13' , 16)
SELECT RANGE_BUCKET( AGE, [9, 13, 15, 19]), COUNT(*) FROM Students
GROUP BY 1;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((1, 5), {'f0_': 0, 'f1_': 1})
Row((2, 3), {'f0_': 0, 'f1_': 1})
Row((3, 5), {'f0_': 0, 'f1_': 1})

In [27]:
QUERY = """

SELECT
  gender, tripduration
FROM
  `bigquery-public-data`.new_york_citibike.citibike_trips
  WHERE (tripduration < 600 AND gender = 'female') OR gender = 'male'
  LIMIT 100;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('male', 371), {'gender': 0, 'tripduration': 1})
Row(('male', 1330), {'gender': 0, 'tripduration': 1})
Row(('male', 830), {'gender': 0, 'tripduration': 1})
Row(('male', 555), {'gender': 0, 'tripduration': 1})
Row(('male', 328), {'gender': 0, 'tripduration': 1})
Row(('male', 226), {'gender': 0, 'tripduration': 1})
Row(('male', 106), {'gender': 0, 'tripduration': 1})
Row(('male', 1987), {'gender': 0, 'tripduration': 1})
Row(('female', 309), {'gender': 0, 'tripduration': 1})
Row(('female', 114), {'gender': 0, 'tripduration': 1})
Row(('male', 1009), {'gender': 0, 'tripduration': 1})
Row(('male', 326), {'gender': 0, 'tripduration': 1})
Row(('male', 273), {'gender': 0, 'tripduration': 1})
Row(('male', 772), {'gender': 0, 'tripduration': 1})
Row(('male', 721), {'gender': 0, 'tripduration': 1})
Row(('male', 271), {'gender': 0, 'tripduration': 1})
Row(('male', 889), {'gender': 0, 'tripduration': 1})
Row(('male', 924), {'gender': 0, 'tripduration': 1})
Row(('male', 675), {'gender': 0, 'tripduration': 1})
Row(('male', 637), {'gender': 0, 'tripduration': 1})
Row(('male', 355), {'gender': 0, 'tripduration': 1})
Row(('male', 441), {'gender': 0, 'tripduration': 1})
Row(('male', 211), {'gender': 0, 'tripduration': 1})
Row(('male', 1029), {'gender': 0, 'tripduration': 1})
Row(('male', 530), {'gender': 0, 'tripduration': 1})
Row(('male', 243), {'gender': 0, 'tripduration': 1})
Row(('male', 492), {'gender': 0, 'tripduration': 1})
Row(('male', 335), {'gender': 0, 'tripduration': 1})
Row(('male', 1165), {'gender': 0, 'tripduration': 1})
Row(('male', 684), {'gender': 0, 'tripduration': 1})
Row(('male', 209), {'gender': 0, 'tripduration': 1})
Row(('male', 206), {'gender': 0, 'tripduration': 1})
Row(('male', 261), {'gender': 0, 'tripduration': 1})
Row(('male', 239), {'gender': 0, 'tripduration': 1})
Row(('male', 2536), {'gender': 0, 'tripduration': 1})
Row(('male', 436), {'gender': 0, 'tripduration': 1})
Row(('male', 1344), {'gender': 0, 'tripduration': 1})
Row(('male', 493), {'gender': 0, 'tripduration': 1})
Row(('female', 304), {'gender': 0, 'tripduration': 1})
Row(('male', 875), {'gender': 0, 'tripduration': 1})
Row(('male', 499), {'gender': 0, 'tripduration': 1})
Row(('male', 288), {'gender': 0, 'tripduration': 1})
Row(('female', 476), {'gender': 0, 'tripduration': 1})
Row(('male', 825), {'gender': 0, 'tripduration': 1})
Row(('male', 376), {'gender': 0, 'tripduration': 1})
Row(('male', 141), {'gender': 0, 'tripduration': 1})
Row(('male', 1136), {'gender': 0, 'tripduration': 1})
Row(('male', 794), {'gender': 0, 'tripduration': 1})
Row(('male', 2395), {'gender': 0, 'tripduration': 1})
Row(('male', 922), {'gender': 0, 'tripduration': 1})
Row(('male', 1195), {'gender': 0, 'tripduration': 1})
Row(('male', 134), {'gender': 0, 'tripduration': 1})
Row(('male', 384), {'gender': 0, 'tripduration': 1})
Row(('male', 376), {'gender': 0, 'tripduration': 1})
Row(('male', 538), {'gender': 0, 'tripduration': 1})
Row(('male', 256), {'gender': 0, 'tripduration': 1})
Row(('male', 528), {'gender': 0, 'tripduration': 1})
Row(('male', 296), {'gender': 0, 'tripduration': 1})
Row(('male', 920), {'gender': 0, 'tripduration': 1})
Row(('male', 453), {'gender': 0, 'tripduration': 1})
Row(('male', 330), {'gender': 0, 'tripduration': 1})
Row(('male', 935), {'gender': 0, 'tripduration': 1})
Row(('male', 644), {'gender': 0, 'tripduration': 1})
Row(('male', 972), {'gender': 0, 'tripduration': 1})
Row(('male', 104), {'gender': 0, 'tripduration': 1})
Row(('female', 406), {'gender': 0, 'tripduration': 1})
Row(('male', 808), {'gender': 0, 'tripduration': 1})
Row(('male', 680), {'gender': 0, 'tripduration': 1})
Row(('male', 321), {'gender': 0, 'tripduration': 1})
Row(('male', 548), {'gender': 0, 'tripduration': 1})
Row(('female', 365), {'gender': 0, 'tripduration': 1})
Row(('male', 98), {'gender': 0, 'tripduration': 1})
Row(('male', 290), {'gender': 0, 'tripduration': 1})
Row(('male', 1952), {'gender': 0, 'tripduration': 1})
Row(('male', 2625), {'gender': 0, 'tripduration': 1})
Row(('male', 521), {'gender': 0, 'tripduration': 1})
Row(('male', 282), {'gender': 0, 'tripduration': 1})
Row(('male', 391), {'gender': 0, 'tripduration': 1})
Row(('male', 460), {'gender': 0, 'tripduration': 1})
Row(('male', 525), {'gender': 0, 'tripduration': 1})
Row(('male', 279), {'gender': 0, 'tripduration': 1})
Row(('male', 277), {'gender': 0, 'tripduration': 1})
Row(('male', 1301), {'gender': 0, 'tripduration': 1})
Row(('female', 421), {'gender': 0, 'tripduration': 1})
Row(('male', 347), {'gender': 0, 'tripduration': 1})
Row(('male', 500), {'gender': 0, 'tripduration': 1})
Row(('male', 245), {'gender': 0, 'tripduration': 1})
Row(('male', 215), {'gender': 0, 'tripduration': 1})
Row(('male', 904), {'gender': 0, 'tripduration': 1})
Row(('male', 324), {'gender': 0, 'tripduration': 1})
Row(('male', 299), {'gender': 0, 'tripduration': 1})
Row(('male', 448), {'gender': 0, 'tripduration': 1})
Row(('female', 400), {'gender': 0, 'tripduration': 1})
Row(('male', 927), {'gender': 0, 'tripduration': 1})
Row(('male', 738), {'gender': 0, 'tripduration': 1})
Row(('male', 1227), {'gender': 0, 'tripduration': 1})
Row(('male', 385), {'gender': 0, 'tripduration': 1})
Row(('female', 230), {'gender': 0, 'tripduration': 1})
Row(('male', 648), {'gender': 0, 'tripduration': 1})
Row(('male', 1278), {'gender': 0, 'tripduration': 1})

In [28]:
QUERY = """

WITH example AS (
  SELECT true AS is_valid, 'a' as letter, 1 as position
  UNION ALL SELECT false , 'b', 2
  UNION ALL SELECT false , 'c', 3
)
SELECT * FROM example;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((True, 'a', 1), {'is_valid': 0, 'letter': 1, 'position': 2})
Row((False, 'b', 2), {'is_valid': 0, 'letter': 1, 'position': 2})
Row((False, 'c', 3), {'is_valid': 0, 'letter': 1, 'position': 2})

In [29]:
QUERY = """

WITH example AS (
  SELECT true AS is_valid, 'a' as letter, 1 as position
  UNION ALL SELECT false , 'b', 2
  UNION ALL SELECT false , 'c', 3
)
SELECT * FROM example WHERE is_valid != false AND position > 0;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((True, 'a', 1), {'is_valid': 0, 'letter': 1, 'position': 2})

In [30]:
QUERY = """

WITH example AS (
  SELECT true AS is_valid, 'a' as letter, 1 as position
  UNION ALL SELECT false , 'b', 2
  UNION ALL SELECT false , 'c', 3)
SELECT * FROM example WHERE is_valid AND position > 0;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((True, 'a', 1), {'is_valid': 0, 'letter': 1, 'position': 2})

In [31]:
QUERY = """

SELECT
  gender, tripduration
FROM
  `bigquery-public-data`.new_york_citibike.citibike_trips
  WHERE (tripduration < 600 AND gender = 'female') 
  LIMIT 100;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('female', 238), {'gender': 0, 'tripduration': 1})
Row(('female', 389), {'gender': 0, 'tripduration': 1})
Row(('female', 397), {'gender': 0, 'tripduration': 1})
Row(('female', 385), {'gender': 0, 'tripduration': 1})
Row(('female', 499), {'gender': 0, 'tripduration': 1})
Row(('female', 277), {'gender': 0, 'tripduration': 1})
Row(('female', 549), {'gender': 0, 'tripduration': 1})
Row(('female', 588), {'gender': 0, 'tripduration': 1})
Row(('female', 309), {'gender': 0, 'tripduration': 1})
Row(('female', 213), {'gender': 0, 'tripduration': 1})
Row(('female', 350), {'gender': 0, 'tripduration': 1})
Row(('female', 486), {'gender': 0, 'tripduration': 1})
Row(('female', 262), {'gender': 0, 'tripduration': 1})
Row(('female', 498), {'gender': 0, 'tripduration': 1})
Row(('female', 400), {'gender': 0, 'tripduration': 1})
Row(('female', 476), {'gender': 0, 'tripduration': 1})
Row(('female', 410), {'gender': 0, 'tripduration': 1})
Row(('female', 574), {'gender': 0, 'tripduration': 1})
Row(('female', 106), {'gender': 0, 'tripduration': 1})
Row(('female', 538), {'gender': 0, 'tripduration': 1})
Row(('female', 291), {'gender': 0, 'tripduration': 1})
Row(('female', 151), {'gender': 0, 'tripduration': 1})
Row(('female', 529), {'gender': 0, 'tripduration': 1})
Row(('female', 232), {'gender': 0, 'tripduration': 1})
Row(('female', 356), {'gender': 0, 'tripduration': 1})
Row(('female', 568), {'gender': 0, 'tripduration': 1})
Row(('female', 140), {'gender': 0, 'tripduration': 1})
Row(('female', 296), {'gender': 0, 'tripduration': 1})
Row(('female', 280), {'gender': 0, 'tripduration': 1})
Row(('female', 193), {'gender': 0, 'tripduration': 1})
Row(('female', 62), {'gender': 0, 'tripduration': 1})
Row(('female', 456), {'gender': 0, 'tripduration': 1})
Row(('female', 288), {'gender': 0, 'tripduration': 1})
Row(('female', 381), {'gender': 0, 'tripduration': 1})
Row(('female', 159), {'gender': 0, 'tripduration': 1})
Row(('female', 290), {'gender': 0, 'tripduration': 1})
Row(('female', 363), {'gender': 0, 'tripduration': 1})
Row(('female', 259), {'gender': 0, 'tripduration': 1})
Row(('female', 141), {'gender': 0, 'tripduration': 1})
Row(('female', 290), {'gender': 0, 'tripduration': 1})
Row(('female', 194), {'gender': 0, 'tripduration': 1})
Row(('female', 414), {'gender': 0, 'tripduration': 1})
Row(('female', 335), {'gender': 0, 'tripduration': 1})
Row(('female', 457), {'gender': 0, 'tripduration': 1})
Row(('female', 491), {'gender': 0, 'tripduration': 1})
Row(('female', 468), {'gender': 0, 'tripduration': 1})
Row(('female', 210), {'gender': 0, 'tripduration': 1})
Row(('female', 341), {'gender': 0, 'tripduration': 1})
Row(('female', 401), {'gender': 0, 'tripduration': 1})
Row(('female', 161), {'gender': 0, 'tripduration': 1})
Row(('female', 159), {'gender': 0, 'tripduration': 1})
Row(('female', 193), {'gender': 0, 'tripduration': 1})
Row(('female', 95), {'gender': 0, 'tripduration': 1})
Row(('female', 228), {'gender': 0, 'tripduration': 1})
Row(('female', 314), {'gender': 0, 'tripduration': 1})
Row(('female', 371), {'gender': 0, 'tripduration': 1})
Row(('female', 97), {'gender': 0, 'tripduration': 1})
Row(('female', 303), {'gender': 0, 'tripduration': 1})
Row(('female', 544), {'gender': 0, 'tripduration': 1})
Row(('female', 599), {'gender': 0, 'tripduration': 1})
Row(('female', 595), {'gender': 0, 'tripduration': 1})
Row(('female', 301), {'gender': 0, 'tripduration': 1})
Row(('female', 511), {'gender': 0, 'tripduration': 1})
Row(('female', 231), {'gender': 0, 'tripduration': 1})
Row(('female', 407), {'gender': 0, 'tripduration': 1})
Row(('female', 472), {'gender': 0, 'tripduration': 1})
Row(('female', 270), {'gender': 0, 'tripduration': 1})
Row(('female', 594), {'gender': 0, 'tripduration': 1})
Row(('female', 365), {'gender': 0, 'tripduration': 1})
Row(('female', 238), {'gender': 0, 'tripduration': 1})
Row(('female', 581), {'gender': 0, 'tripduration': 1})
Row(('female', 406), {'gender': 0, 'tripduration': 1})
Row(('female', 490), {'gender': 0, 'tripduration': 1})
Row(('female', 191), {'gender': 0, 'tripduration': 1})
Row(('female', 275), {'gender': 0, 'tripduration': 1})
Row(('female', 171), {'gender': 0, 'tripduration': 1})
Row(('female', 402), {'gender': 0, 'tripduration': 1})
Row(('female', 480), {'gender': 0, 'tripduration': 1})
Row(('female', 540), {'gender': 0, 'tripduration': 1})
Row(('female', 421), {'gender': 0, 'tripduration': 1})
Row(('female', 203), {'gender': 0, 'tripduration': 1})
Row(('female', 183), {'gender': 0, 'tripduration': 1})
Row(('female', 406), {'gender': 0, 'tripduration': 1})
Row(('female', 210), {'gender': 0, 'tripduration': 1})
Row(('female', 485), {'gender': 0, 'tripduration': 1})
Row(('female', 160), {'gender': 0, 'tripduration': 1})
Row(('female', 573), {'gender': 0, 'tripduration': 1})
Row(('female', 400), {'gender': 0, 'tripduration': 1})
Row(('female', 349), {'gender': 0, 'tripduration': 1})
Row(('female', 460), {'gender': 0, 'tripduration': 1})
Row(('female', 248), {'gender': 0, 'tripduration': 1})
Row(('female', 345), {'gender': 0, 'tripduration': 1})
Row(('female', 310), {'gender': 0, 'tripduration': 1})
Row(('female', 413), {'gender': 0, 'tripduration': 1})
Row(('female', 378), {'gender': 0, 'tripduration': 1})
Row(('female', 292), {'gender': 0, 'tripduration': 1})
Row(('female', 445), {'gender': 0, 'tripduration': 1})
Row(('female', 350), {'gender': 0, 'tripduration': 1})
Row(('female', 83), {'gender': 0, 'tripduration': 1})
Row(('female', 510), {'gender': 0, 'tripduration': 1})

In [32]:
QUERY = """

SELECT
  gender, tripduration
FROM
  `bigquery-public-data`.new_york_citibike.citibike_trips
  WHERE (tripduration < 600 AND gender = 'female') = true
  LIMIT 100;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('female', 238), {'gender': 0, 'tripduration': 1})
Row(('female', 389), {'gender': 0, 'tripduration': 1})
Row(('female', 397), {'gender': 0, 'tripduration': 1})
Row(('female', 385), {'gender': 0, 'tripduration': 1})
Row(('female', 499), {'gender': 0, 'tripduration': 1})
Row(('female', 277), {'gender': 0, 'tripduration': 1})
Row(('female', 549), {'gender': 0, 'tripduration': 1})
Row(('female', 588), {'gender': 0, 'tripduration': 1})
Row(('female', 309), {'gender': 0, 'tripduration': 1})
Row(('female', 213), {'gender': 0, 'tripduration': 1})
Row(('female', 350), {'gender': 0, 'tripduration': 1})
Row(('female', 486), {'gender': 0, 'tripduration': 1})
Row(('female', 262), {'gender': 0, 'tripduration': 1})
Row(('female', 498), {'gender': 0, 'tripduration': 1})
Row(('female', 400), {'gender': 0, 'tripduration': 1})
Row(('female', 476), {'gender': 0, 'tripduration': 1})
Row(('female', 410), {'gender': 0, 'tripduration': 1})
Row(('female', 574), {'gender': 0, 'tripduration': 1})
Row(('female', 106), {'gender': 0, 'tripduration': 1})
Row(('female', 538), {'gender': 0, 'tripduration': 1})
Row(('female', 291), {'gender': 0, 'tripduration': 1})
Row(('female', 151), {'gender': 0, 'tripduration': 1})
Row(('female', 529), {'gender': 0, 'tripduration': 1})
Row(('female', 232), {'gender': 0, 'tripduration': 1})
Row(('female', 356), {'gender': 0, 'tripduration': 1})
Row(('female', 568), {'gender': 0, 'tripduration': 1})
Row(('female', 140), {'gender': 0, 'tripduration': 1})
Row(('female', 296), {'gender': 0, 'tripduration': 1})
Row(('female', 280), {'gender': 0, 'tripduration': 1})
Row(('female', 193), {'gender': 0, 'tripduration': 1})
Row(('female', 62), {'gender': 0, 'tripduration': 1})
Row(('female', 456), {'gender': 0, 'tripduration': 1})
Row(('female', 288), {'gender': 0, 'tripduration': 1})
Row(('female', 381), {'gender': 0, 'tripduration': 1})
Row(('female', 159), {'gender': 0, 'tripduration': 1})
Row(('female', 290), {'gender': 0, 'tripduration': 1})
Row(('female', 363), {'gender': 0, 'tripduration': 1})
Row(('female', 259), {'gender': 0, 'tripduration': 1})
Row(('female', 141), {'gender': 0, 'tripduration': 1})
Row(('female', 290), {'gender': 0, 'tripduration': 1})
Row(('female', 194), {'gender': 0, 'tripduration': 1})
Row(('female', 414), {'gender': 0, 'tripduration': 1})
Row(('female', 335), {'gender': 0, 'tripduration': 1})
Row(('female', 457), {'gender': 0, 'tripduration': 1})
Row(('female', 491), {'gender': 0, 'tripduration': 1})
Row(('female', 468), {'gender': 0, 'tripduration': 1})
Row(('female', 210), {'gender': 0, 'tripduration': 1})
Row(('female', 341), {'gender': 0, 'tripduration': 1})
Row(('female', 401), {'gender': 0, 'tripduration': 1})
Row(('female', 161), {'gender': 0, 'tripduration': 1})
Row(('female', 159), {'gender': 0, 'tripduration': 1})
Row(('female', 193), {'gender': 0, 'tripduration': 1})
Row(('female', 95), {'gender': 0, 'tripduration': 1})
Row(('female', 228), {'gender': 0, 'tripduration': 1})
Row(('female', 314), {'gender': 0, 'tripduration': 1})
Row(('female', 371), {'gender': 0, 'tripduration': 1})
Row(('female', 97), {'gender': 0, 'tripduration': 1})
Row(('female', 303), {'gender': 0, 'tripduration': 1})
Row(('female', 544), {'gender': 0, 'tripduration': 1})
Row(('female', 599), {'gender': 0, 'tripduration': 1})
Row(('female', 595), {'gender': 0, 'tripduration': 1})
Row(('female', 301), {'gender': 0, 'tripduration': 1})
Row(('female', 511), {'gender': 0, 'tripduration': 1})
Row(('female', 231), {'gender': 0, 'tripduration': 1})
Row(('female', 407), {'gender': 0, 'tripduration': 1})
Row(('female', 472), {'gender': 0, 'tripduration': 1})
Row(('female', 270), {'gender': 0, 'tripduration': 1})
Row(('female', 594), {'gender': 0, 'tripduration': 1})
Row(('female', 365), {'gender': 0, 'tripduration': 1})
Row(('female', 238), {'gender': 0, 'tripduration': 1})
Row(('female', 581), {'gender': 0, 'tripduration': 1})
Row(('female', 406), {'gender': 0, 'tripduration': 1})
Row(('female', 490), {'gender': 0, 'tripduration': 1})
Row(('female', 191), {'gender': 0, 'tripduration': 1})
Row(('female', 275), {'gender': 0, 'tripduration': 1})
Row(('female', 171), {'gender': 0, 'tripduration': 1})
Row(('female', 402), {'gender': 0, 'tripduration': 1})
Row(('female', 480), {'gender': 0, 'tripduration': 1})
Row(('female', 540), {'gender': 0, 'tripduration': 1})
Row(('female', 421), {'gender': 0, 'tripduration': 1})
Row(('female', 203), {'gender': 0, 'tripduration': 1})
Row(('female', 183), {'gender': 0, 'tripduration': 1})
Row(('female', 406), {'gender': 0, 'tripduration': 1})
Row(('female', 210), {'gender': 0, 'tripduration': 1})
Row(('female', 485), {'gender': 0, 'tripduration': 1})
Row(('female', 160), {'gender': 0, 'tripduration': 1})
Row(('female', 573), {'gender': 0, 'tripduration': 1})
Row(('female', 400), {'gender': 0, 'tripduration': 1})
Row(('female', 349), {'gender': 0, 'tripduration': 1})
Row(('female', 460), {'gender': 0, 'tripduration': 1})
Row(('female', 248), {'gender': 0, 'tripduration': 1})
Row(('female', 345), {'gender': 0, 'tripduration': 1})
Row(('female', 310), {'gender': 0, 'tripduration': 1})
Row(('female', 413), {'gender': 0, 'tripduration': 1})
Row(('female', 378), {'gender': 0, 'tripduration': 1})
Row(('female', 292), {'gender': 0, 'tripduration': 1})
Row(('female', 445), {'gender': 0, 'tripduration': 1})
Row(('female', 350), {'gender': 0, 'tripduration': 1})
Row(('female', 83), {'gender': 0, 'tripduration': 1})
Row(('female', 510), {'gender': 0, 'tripduration': 1})

In [33]:
QUERY = """

WITH catalog AS (
  SELECT 30.0 AS costPrice, 0.15 as margin, 0.1 as taxRate
  UNION ALL SELECT NULL, 0.21, 0.15
  UNION ALL SELECT 30.0, NULL, 0.09
  UNION ALL SELECT 30.0, 0.30, NULL
  UNION ALL SELECT 30.0, NULL, NULL
)
SELECT * FROM catalog;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((30.0, 0.15, 0.1), {'costPrice': 0, 'margin': 1, 'taxRate': 2})
Row((None, 0.21, 0.15), {'costPrice': 0, 'margin': 1, 'taxRate': 2})
Row((30.0, None, 0.09), {'costPrice': 0, 'margin': 1, 'taxRate': 2})
Row((30.0, 0.3, None), {'costPrice': 0, 'margin': 1, 'taxRate': 2})
Row((30.0, None, None), {'costPrice': 0, 'margin': 1, 'taxRate': 2})

In [34]:
QUERY = """

WITH catalog AS (
  SELECT 30.0 AS costPrice, 0.15 as margin, 0.1 as taxRate
  UNION ALL SELECT NULL, 0.21, 0.15
  UNION ALL SELECT 30.0, NULL, 0.09
  UNION ALL SELECT 30.0, 0.30, NULL
  UNION ALL SELECT 30.0, NULL, NULL
)
SELECT ROUND (
  IF (costPrice IS NULL, 30.0, costPrice) * 
  IF (margin IS NULL, 0.10, margin) * 
  IF (taxrate IS NULL, 0.15, taxrate) , 2
) as FORMULA FROM catalog;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((0.45,), {'FORMULA': 0})
Row((0.94,), {'FORMULA': 0})
Row((0.27,), {'FORMULA': 0})
Row((1.35,), {'FORMULA': 0})
Row((0.45,), {'FORMULA': 0})

In [35]:
QUERY = """

SELECT COALESCE ('A', 'B', 'C');

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('A',), {'f0_': 0})

In [36]:
QUERY = """

SELECT COALESCE (NULL, 'B', 'C');

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('B',), {'f0_': 0})

In [37]:
QUERY = """

WITH catalog AS (
  SELECT 30.0 AS costPrice, 0.15 as margin, 0.1 as taxRate
  UNION ALL SELECT NULL, 0.21, 0.15
  UNION ALL SELECT 30.0, NULL, 0.09
  UNION ALL SELECT 30.0, 0.30, NULL
  UNION ALL SELECT 30.0, NULL, 0.10
)
SELECT 
  IF (costPrice IS NULL, 30.0, costPrice) * 
  IF (margin IS NULL, 0.10, margin) * 
  IF (taxrate IS NULL, 0.15, taxrate) 
  as FORMULA1 ,
  COALESCE (
    costPrice * margin * taxrate, 
    30.0 * margin * taxrate, 
    costprice * 0.10 * taxrate, 
    costPrice * margin * 0.15
  ) as FORMULA2 FROM catalog;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((0.45, 0.45), {'FORMULA1': 0, 'FORMULA2': 1})
Row((0.945, 0.945), {'FORMULA1': 0, 'FORMULA2': 1})
Row((0.27, 0.27), {'FORMULA1': 0, 'FORMULA2': 1})
Row((1.3499999999999999, 1.3499999999999999), {'FORMULA1': 0, 'FORMULA2': 1})
Row((0.30000000000000004, 0.30000000000000004), {'FORMULA1': 0, 'FORMULA2': 1})

In [38]:
QUERY = """

WITH example AS (
    SELECT 'Jonh' AS employee, 'Doente' as Hours_work
    UNION ALL SELECT 'Jean', '100'
    UNION ALL SELECT 'Peter', 'De férias'
    UNION ALL SELECT 'Mary', '80'
)
SELECT SUM (SAFE_CAST(Hours_work AS INT64)) AS TOTAL FROM example;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((180,), {'TOTAL': 0})

In [39]:
QUERY = """

WITH Numbers AS (
    SELECT 90 as A, 2 as B
    UNION ALL SELECT 50, 8
    UNION ALL SELECT 60, 6
    UNION ALL SELECT 50, 10
)
SELECT A, B, 
    CASE 
        WHEN (A = 90 AND B > 10) THEN 'red'
        WHEN A = 50 THEN 'blue'
        ELSE 'green' END AS Color
    FROM Numbers;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((90, 2, 'green'), {'A': 0, 'B': 1, 'Color': 2})
Row((50, 8, 'blue'), {'A': 0, 'B': 1, 'Color': 2})
Row((60, 6, 'green'), {'A': 0, 'B': 1, 'Color': 2})
Row((50, 10, 'blue'), {'A': 0, 'B': 1, 'Color': 2})

In [40]:
QUERY = """

WITH Students AS
(SELECT 'A1' AS ALUNO, 11 AS AGE
UNION ALL SELECT 'A2' , 12
UNION ALL SELECT 'A3' , 11
UNION ALL SELECT 'A4' , 14
UNION ALL SELECT 'A5' , 17
UNION ALL SELECT 'A6' , 17
UNION ALL SELECT 'A7' , 18
UNION ALL SELECT 'A8' , 16
UNION ALL SELECT 'A9' , 11
UNION ALL SELECT 'A10' , 12
UNION ALL SELECT 'A11' , 13
UNION ALL SELECT 'A12' , 13
UNION ALL SELECT 'A13' , 16)
SELECT ALUNO, RANGE_BUCKET( AGE, [9, 13, 15, 18]),
CASE 
  WHEN AGE >= 9 AND AGE < 13 THEN '1'
  WHEN AGE >= 13 AND AGE < 15 THEN '2'
  WHEN AGE >= 15 AND AGE < 18 THEN '3'
  ELSE '4' END 
FROM Students;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('A1', 1, '1'), {'ALUNO': 0, 'f0_': 1, 'f1_': 2})
Row(('A2', 1, '1'), {'ALUNO': 0, 'f0_': 1, 'f1_': 2})
Row(('A3', 1, '1'), {'ALUNO': 0, 'f0_': 1, 'f1_': 2})
Row(('A4', 2, '2'), {'ALUNO': 0, 'f0_': 1, 'f1_': 2})
Row(('A5', 3, '3'), {'ALUNO': 0, 'f0_': 1, 'f1_': 2})
Row(('A6', 3, '3'), {'ALUNO': 0, 'f0_': 1, 'f1_': 2})
Row(('A7', 4, '4'), {'ALUNO': 0, 'f0_': 1, 'f1_': 2})
Row(('A8', 3, '3'), {'ALUNO': 0, 'f0_': 1, 'f1_': 2})
Row(('A9', 1, '1'), {'ALUNO': 0, 'f0_': 1, 'f1_': 2})
Row(('A10', 1, '1'), {'ALUNO': 0, 'f0_': 1, 'f1_': 2})
Row(('A11', 2, '2'), {'ALUNO': 0, 'f0_': 1, 'f1_': 2})
Row(('A12', 2, '2'), {'ALUNO': 0, 'f0_': 1, 'f1_': 2})
Row(('A13', 3, '3'), {'ALUNO': 0, 'f0_': 1, 'f1_': 2})

In [41]:
QUERY = """

WITH items AS
 (SELECT 'FOO' AS ITEM
 UNION ALL SELECT 'BAR'
 UNION ALL SELECT 'BAZ')
 SELECT LOWER(ITEM) FROM items;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('foo',), {'f0_': 0})
Row(('bar',), {'f0_': 0})
Row(('baz',), {'f0_': 0})

In [42]:
QUERY = """

WITH items AS
 (SELECT 'foo' AS ITEM
 UNION ALL SELECT 'bar'
 UNION ALL SELECT 'baz')
 SELECT UPPER(ITEM) FROM items;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('FOO',), {'f0_': 0})
Row(('BAR',), {'f0_': 0})
Row(('BAZ',), {'f0_': 0})

In [43]:
QUERY = """

WITH examples AS
 (SELECT "Alo Mundo-todo mundo!" AS FRASES
 UNION ALL SELECT "o cachorro TORNADO é alegre+manso"
 UNION ALL SELECT "maça&laranja&pera"
 UNION ALL SELECT "tata ta tavendo a tatia")
 SELECT FRASES, INITCAP(FRASES) FROM examples;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('Alo Mundo-todo mundo!', 'Alo Mundo-Todo Mundo!'), {'FRASES': 0, 'f0_': 1})
Row(('o cachorro TORNADO é alegre+manso', 'O Cachorro Tornado É Alegre+Manso'), {'FRASES': 0, 'f0_': 1})
Row(('maça&laranja&pera', 'Maça&Laranja&Pera'), {'FRASES': 0, 'f0_': 1})
Row(('tata ta tavendo a tatia', 'Tata Ta Tavendo A Tatia'), {'FRASES': 0, 'f0_': 1})

In [44]:
QUERY = """

WITH examples AS
 (SELECT "Alo Mundo-todo mundo!" AS FRASES, " " AS DELIMITER
 UNION ALL SELECT "o cachorro TORNADO é alegre+manso", "+"
 UNION ALL SELECT "maça&laranja&pera", "&"
 UNION ALL SELECT "tata ta tavendo a tatia", "t")
 SELECT FRASES, INITCAP(FRASES), INITCAP(FRASES, DELIMITER) FROM examples;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('Alo Mundo-todo mundo!', 'Alo Mundo-Todo Mundo!', 'Alo Mundo-todo Mundo!'), {'FRASES': 0, 'f0_': 1, 'f1_': 2})
Row(('o cachorro TORNADO é alegre+manso', 'O Cachorro Tornado É Alegre+Manso', 'O cachorro tornado é alegre+Manso'), {'FRASES': 0, 'f0_': 1, 'f1_': 2})
Row(('maça&laranja&pera', 'Maça&Laranja&Pera', 'Maça&Laranja&Pera'), {'FRASES': 0, 'f0_': 1, 'f1_': 2})
Row(('tata ta tavendo a tatia', 'Tata Ta Tavendo A Tatia', 'tAtA tA tAvendo a tAtIa'), {'FRASES': 0, 'f0_': 1, 'f1_': 2})

In [45]:
QUERY = """

WITH items AS
 (SELECT "     MAÇA     " AS ITEM
 UNION ALL SELECT "     BANANA     "
 UNION ALL SELECT "     LARANJA     ")
 SELECT ITEM, LTRIM(ITEM), RTRIM(ITEM), TRIM(ITEM) FROM items;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('     MAÇA     ', 'MAÇA     ', '     MAÇA', 'MAÇA'), {'ITEM': 0, 'f0_': 1, 'f1_': 2, 'f2_': 3})
Row(('     BANANA     ', 'BANANA     ', '     BANANA', 'BANANA'), {'ITEM': 0, 'f0_': 1, 'f1_': 2, 'f2_': 3})
Row(('     LARANJA     ', 'LARANJA     ', '     LARANJA', 'LARANJA'), {'ITEM': 0, 'f0_': 1, 'f1_': 2, 'f2_': 3})

In [46]:
QUERY = """

WITH items AS
 (SELECT "     MAÇA     " AS ITEM
 UNION ALL SELECT "     BANANA     "
 UNION ALL SELECT "     LARANJA     ")
 SELECT TRIM(ITEM), LEFT(TRIM(ITEM), 2), RIGHT(TRIM(ITEM),2) FROM items;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('MAÇA', 'MA', 'ÇA'), {'f0_': 0, 'f1_': 1, 'f2_': 2})
Row(('BANANA', 'BA', 'NA'), {'f0_': 0, 'f1_': 1, 'f2_': 2})
Row(('LARANJA', 'LA', 'JA'), {'f0_': 0, 'f1_': 1, 'f2_': 2})

In [47]:
QUERY = """

WITH examples AS
(SELECT "DR" AS Titulo, "Carlos" as NOME, "Junior" as SOBRENOME
UNION ALL SELECT "SR", "Marcos", "Almeida"
UNION ALL SELECT "DR" , "Mario", "Costa"
UNION ALL SELECT "MS" , "Maria", "Rosa")
SELECT CONCAT (Titulo, " ", Nome, " ", Sobrenome) FROM examples;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('DR Carlos Junior',), {'f0_': 0})
Row(('SR Marcos Almeida',), {'f0_': 0})
Row(('DR Mario Costa',), {'f0_': 0})
Row(('MS Maria Rosa',), {'f0_': 0})

In [48]:
QUERY = """

WITH examples AS
(SELECT "DR" AS Titulo, "Carlos" as NOME, "Junior" as SOBRENOME
UNION ALL SELECT "SR", "Marcos", "Almeida"
UNION ALL SELECT "DR" , "Mario", "Costa"
UNION ALL SELECT "MS" , "Maria", "Rosa")
SELECT CONCAT (Titulo, " ", Nome, " ", Sobrenome), 
CHAR_LENGTH(CONCAT (Titulo, " ", Nome, " ", Sobrenome)) FROM examples;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('DR Carlos Junior', 16), {'f0_': 0, 'f1_': 1})
Row(('SR Marcos Almeida', 17), {'f0_': 0, 'f1_': 1})
Row(('DR Mario Costa', 14), {'f0_': 0, 'f1_': 1})
Row(('MS Maria Rosa', 13), {'f0_': 0, 'f1_': 1})

In [49]:
QUERY = """

WITH examples AS
(SELECT "DR" AS Titulo, "Carlos" as NOME, "Junior" as SOBRENOME
UNION ALL SELECT "SR", "Marcos", "Almeida"
UNION ALL SELECT "DR" , "Mario", "Costa"
UNION ALL SELECT "MS" , "Maria", "Rosa")
SELECT CONCAT (Titulo, " ", Nome, " ", Sobrenome), 
CHAR_LENGTH(CONCAT (Titulo, " ", Nome, " ", Sobrenome)),
STARTS_WITH(CONCAT (Titulo, " ", Nome, " ", Sobrenome), "DR"), 
ENDS_WITH(CONCAT (Titulo, " ", Nome, " ", Sobrenome), "Dr") FROM examples;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('DR Carlos Junior', 16, True, False), {'f0_': 0, 'f1_': 1, 'f2_': 2, 'f3_': 3})
Row(('SR Marcos Almeida', 17, False, False), {'f0_': 0, 'f1_': 1, 'f2_': 2, 'f3_': 3})
Row(('DR Mario Costa', 14, True, False), {'f0_': 0, 'f1_': 1, 'f2_': 2, 'f3_': 3})
Row(('MS Maria Rosa', 13, False, False), {'f0_': 0, 'f1_': 1, 'f2_': 2, 'f3_': 3})

In [50]:
QUERY = """

WITH example AS
(SELECT 'banana' AS source_value, 'an' AS search_value, 1 as position, 1 as occcurrence
UNION ALL SELECT 'banana' AS source_value, 'an' AS search_value, 3 as position, 1 as occcurrence
UNION ALL SELECT 'banana' AS source_value, 'xx' AS search_value, 1 as position, 2 as occcurrence)
SELECT *, INSTR(source_value, search_value, position, occcurrence) FROM example;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('banana', 'an', 1, 1, 2), {'source_value': 0, 'search_value': 1, 'position': 2, 'occcurrence': 3, 'f0_': 4})
Row(('banana', 'an', 3, 1, 4), {'source_value': 0, 'search_value': 1, 'position': 2, 'occcurrence': 3, 'f0_': 4})
Row(('banana', 'xx', 1, 2, 0), {'source_value': 0, 'search_value': 1, 'position': 2, 'occcurrence': 3, 'f0_': 4})

In [51]:
QUERY = """

WITH example AS
(SELECT 'banana' AS source_value,
UNION ALL SELECT 'melancia'
UNION ALL SELECT 'tangerina')
SELECT source_value, SUBSTR(source_value,3,3) FROM example;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('banana', 'nan'), {'source_value': 0, 'f0_': 1})
Row(('melancia', 'lan'), {'source_value': 0, 'f0_': 1})
Row(('tangerina', 'nge'), {'source_value': 0, 'f0_': 1})

In [52]:
QUERY = """

WITH example AS
(SELECT 'banana' AS source_value,
UNION ALL SELECT 'melancia'
UNION ALL SELECT 'tangerina')
SELECT source_value, SUBSTR(source_value,3) FROM example;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('banana', 'nana'), {'source_value': 0, 'f0_': 1})
Row(('melancia', 'lancia'), {'source_value': 0, 'f0_': 1})
Row(('tangerina', 'ngerina'), {'source_value': 0, 'f0_': 1})

In [53]:
QUERY = """

WITH example AS
(SELECT 'foo@example.com' AS source_value,
UNION ALL SELECT 'victor@gmail.com'
UNION ALL SELECT 'quexample@brazil.com')
SELECT source_value, STRPOS(source_value, "@") FROM example;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('foo@example.com', 4), {'source_value': 0, 'f0_': 1})
Row(('victor@gmail.com', 7), {'source_value': 0, 'f0_': 1})
Row(('quexample@brazil.com', 10), {'source_value': 0, 'f0_': 1})

In [54]:
QUERY = """

WITH example AS
(SELECT 'foo@example.com' AS source_value,
UNION ALL SELECT 'victor@gmail.com'
UNION ALL SELECT 'quexample@brazil.com')
SELECT source_value, SUBSTR(source_value,1, STRPOS(source_value, "@") - 1) FROM example;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('foo@example.com', 'foo'), {'source_value': 0, 'f0_': 1})
Row(('victor@gmail.com', 'victor'), {'source_value': 0, 'f0_': 1})
Row(('quexample@brazil.com', 'quexample'), {'source_value': 0, 'f0_': 1})

In [55]:
QUERY = """

WITH example AS
(SELECT 'foo@example.com' AS source_value,
UNION ALL SELECT 'victor@gmail.com'
UNION ALL SELECT 'quexample@brazil.com')
SELECT source_value, REVERSE(source_value) FROM example;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('foo@example.com', 'moc.elpmaxe@oof'), {'source_value': 0, 'f0_': 1})
Row(('victor@gmail.com', 'moc.liamg@rotciv'), {'source_value': 0, 'f0_': 1})
Row(('quexample@brazil.com', 'moc.lizarb@elpmaxeuq'), {'source_value': 0, 'f0_': 1})

In [56]:
QUERY = """

WITH example AS
(SELECT 'foo@example.com' AS source_value,
UNION ALL SELECT 'victor@gmail.com'
UNION ALL SELECT 'quexample@brazil.com')
SELECT source_value, REPLACE(source_value, "@","XXXXXX") FROM example;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('foo@example.com', 'fooXXXXXXexample.com'), {'source_value': 0, 'f0_': 1})
Row(('victor@gmail.com', 'victorXXXXXXgmail.com'), {'source_value': 0, 'f0_': 1})
Row(('quexample@brazil.com', 'quexampleXXXXXXbrazil.com'), {'source_value': 0, 'f0_': 1})

In [57]:
QUERY = """

WITH example AS
(SELECT 'foo@example.com' AS source_value,
UNION ALL SELECT 'victor@gmail.com'
UNION ALL SELECT 'quexample@brazil.com')
SELECT source_value, SPLIT(source_value, "@") FROM example;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('foo@example.com', ['foo', 'example.com']), {'source_value': 0, 'f0_': 1})
Row(('victor@gmail.com', ['victor', 'gmail.com']), {'source_value': 0, 'f0_': 1})
Row(('quexample@brazil.com', ['quexample', 'brazil.com']), {'source_value': 0, 'f0_': 1})

In [58]:
QUERY = """

SELECT FIELD,
REGEXP_CONTAINS(FIELD, r'[0-9]{5}-[0-9]{3}') AS TEM_CEP,
REGEXP_EXTRACT(FIELD, r'[0-9]{5}-[0-9]{3}', 1, 1) AS CEP,
REGEXP_EXTRACT(FIELD, r'[0-9]{5}-[0-9]{3}', 1, 2) AS CEP2,
REGEXP_EXTRACT_ALL(FIELD, r'[0-9]{5}-[0-9]{3}') AS CEP3,
REGEXP_REPLACE(FIELD, r'[0-9]{5}-[0-9]{3}', 'XXXXX-XXX') AS CEP2,
FROM
(SELECT * from UNNEST
(["22222-22","     22222-222  ","Meu CEP é 222222-22", "Do CEP 22222-222 ATÉ O 22333-222"]) AS FIELD);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('22222-22', False, None, None, [], '22222-22'), {'FIELD': 0, 'TEM_CEP': 1, 'CEP': 2, 'CEP2': 3, 'CEP3': 4, 'CEP2_1': 5})
Row(('     22222-222  ', True, '22222-222', None, ['22222-222'], '     XXXXX-XXX  '), {'FIELD': 0, 'TEM_CEP': 1, 'CEP': 2, 'CEP2': 3, 'CEP3': 4, 'CEP2_1': 5})
Row(('Meu CEP é 222222-22', False, None, None, [], 'Meu CEP é 222222-22'), {'FIELD': 0, 'TEM_CEP': 1, 'CEP': 2, 'CEP2': 3, 'CEP3': 4, 'CEP2_1': 5})
Row(('Do CEP 22222-222 ATÉ O 22333-222', True, '22222-222', '22333-222', ['22222-222', '22333-222'], 'Do CEP XXXXX-XXX ATÉ O XXXXX-XXX'), {'FIELD': 0, 'TEM_CEP': 1, 'CEP': 2, 'CEP2': 3, 'CEP3': 4, 'CEP2_1': 5})

In [59]:
QUERY = """

SELECT CURRENT_DATETIME,
CURRENT_TIMESTAMP,
CURRENT_DATE,
CURRENT_TIME;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((datetime.datetime(2022, 3, 11, 15, 27, 41, 97948), datetime.datetime(2022, 3, 11, 15, 27, 41, 97948, tzinfo=datetime.timezone.utc), datetime.date(2022, 3, 11), datetime.time(15, 27, 41, 97948)), {'f0_': 0, 'f1_': 1, 'f2_': 2, 'f3_': 3})

In [60]:
QUERY = """

SELECT CURRENT_DATETIME('America/Sao_Paulo'),
CURRENT_DATETIME('Europe/London'),
CURRENT_TIMESTAMP,
CURRENT_DATE,
CURRENT_TIME;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((datetime.datetime(2022, 3, 11, 12, 27, 46, 883916), datetime.datetime(2022, 3, 11, 15, 27, 46, 883916), datetime.datetime(2022, 3, 11, 15, 27, 46, 883916, tzinfo=datetime.timezone.utc), datetime.date(2022, 3, 11), datetime.time(15, 27, 46, 883916)), {'f0_': 0, 'f1_': 1, 'f2_': 2, 'f3_': 3, 'f4_': 4})

In [61]:
QUERY = """

SELECT TIMESTAMP('2020-07-01 10:00:00'),
DATETIME (2020, 7, 1, 10, 0 , 0),
DATE(2020, 7, 1),
TIME(10,0,0);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((datetime.datetime(2020, 7, 1, 10, 0, tzinfo=datetime.timezone.utc), datetime.datetime(2020, 7, 1, 10, 0), datetime.date(2020, 7, 1), datetime.time(10, 0)), {'f0_': 0, 'f1_': 1, 'f2_': 2, 'f3_': 3})

In [62]:
QUERY = """

SELECT DATE(TIMESTAMP('2020-07-01 10:00:00')),
DATETIME(TIMESTAMP('2020-07-01 10:00:00')),
TIME(TIMESTAMP('2020-07-01 10:00:00'));

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((datetime.date(2020, 7, 1), datetime.datetime(2020, 7, 1, 10, 0), datetime.time(10, 0)), {'f0_': 0, 'f1_': 1, 'f2_': 2})

In [63]:
QUERY = """

SELECT 
  DATE_ADD (DATE(2008, 12, 25), INTERVAL 5 DAY) AS CINCO_DIAS_DEPOIS,
  DATE_ADD (DATE(2008, 12, 25), INTERVAL 4 YEAR) AS QUATRO_ANOS_DEPOIS,
  TIMESTAMP_ADD (CURRENT_TIMESTAMP, INTERVAL 45 MINUTE) AS QUARENTA_CINCO_MINUTOS_DEPOIS;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((datetime.date(2008, 12, 30), datetime.date(2012, 12, 25), datetime.datetime(2022, 3, 11, 16, 14, 26, 962880, tzinfo=datetime.timezone.utc)), {'CINCO_DIAS_DEPOIS': 0, 'QUATRO_ANOS_DEPOIS': 1, 'QUARENTA_CINCO_MINUTOS_DEPOIS': 2})

In [64]:
QUERY = """

SELECT 
  DATE_SUB (DATE(2008, 12, 25), INTERVAL 5 DAY) AS CINCO_DIAS_ANTES,
  DATE_SUB (DATE(2008, 12, 25), INTERVAL 4 YEAR) AS QUATRO_ANOS_ANTES,
  TIMESTAMP_SUB (CURRENT_TIMESTAMP, INTERVAL 45 MINUTE) AS QUARENTA_CINCO_MINUTOS_ANTES;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((datetime.date(2008, 12, 20), datetime.date(2004, 12, 25), datetime.datetime(2022, 3, 11, 14, 44, 28, 471148, tzinfo=datetime.timezone.utc)), {'CINCO_DIAS_ANTES': 0, 'QUATRO_ANOS_ANTES': 1, 'QUARENTA_CINCO_MINUTOS_ANTES': 2})

In [65]:
QUERY = """

SELECT 
  DATE_DIFF (DATE(2010,12,25), DATE(2008, 9, 15), DAY),
  DATETIME_DIFF (CURRENT_DATETIME, DATETIME(TIMESTAMP('2020-07-01 10:00:00')), MINUTE);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((831, 890249), {'f0_': 0, 'f1_': 1})

In [66]:
QUERY = """

SELECT DATA,
  EXTRACT(MONTH FROM DATA) AS MES,
  EXTRACT(DAY FROM DATA) AS DIA,
  EXTRACT(YEAR FROM DATA) AS ANO,
  EXTRACT(DAYOFWEEK FROM DATA) AS SEMANA
FROM UNNEST (GENERATE_DATE_ARRAY('2015-12-23', '2016-01-09')) AS DATA
ORDER BY DATA;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((datetime.date(2015, 12, 23), 12, 23, 2015, 4), {'DATA': 0, 'MES': 1, 'DIA': 2, 'ANO': 3, 'SEMANA': 4})
Row((datetime.date(2015, 12, 24), 12, 24, 2015, 5), {'DATA': 0, 'MES': 1, 'DIA': 2, 'ANO': 3, 'SEMANA': 4})
Row((datetime.date(2015, 12, 25), 12, 25, 2015, 6), {'DATA': 0, 'MES': 1, 'DIA': 2, 'ANO': 3, 'SEMANA': 4})
Row((datetime.date(2015, 12, 26), 12, 26, 2015, 7), {'DATA': 0, 'MES': 1, 'DIA': 2, 'ANO': 3, 'SEMANA': 4})
Row((datetime.date(2015, 12, 27), 12, 27, 2015, 1), {'DATA': 0, 'MES': 1, 'DIA': 2, 'ANO': 3, 'SEMANA': 4})
Row((datetime.date(2015, 12, 28), 12, 28, 2015, 2), {'DATA': 0, 'MES': 1, 'DIA': 2, 'ANO': 3, 'SEMANA': 4})
Row((datetime.date(2015, 12, 29), 12, 29, 2015, 3), {'DATA': 0, 'MES': 1, 'DIA': 2, 'ANO': 3, 'SEMANA': 4})
Row((datetime.date(2015, 12, 30), 12, 30, 2015, 4), {'DATA': 0, 'MES': 1, 'DIA': 2, 'ANO': 3, 'SEMANA': 4})
Row((datetime.date(2015, 12, 31), 12, 31, 2015, 5), {'DATA': 0, 'MES': 1, 'DIA': 2, 'ANO': 3, 'SEMANA': 4})
Row((datetime.date(2016, 1, 1), 1, 1, 2016, 6), {'DATA': 0, 'MES': 1, 'DIA': 2, 'ANO': 3, 'SEMANA': 4})
Row((datetime.date(2016, 1, 2), 1, 2, 2016, 7), {'DATA': 0, 'MES': 1, 'DIA': 2, 'ANO': 3, 'SEMANA': 4})
Row((datetime.date(2016, 1, 3), 1, 3, 2016, 1), {'DATA': 0, 'MES': 1, 'DIA': 2, 'ANO': 3, 'SEMANA': 4})
Row((datetime.date(2016, 1, 4), 1, 4, 2016, 2), {'DATA': 0, 'MES': 1, 'DIA': 2, 'ANO': 3, 'SEMANA': 4})
Row((datetime.date(2016, 1, 5), 1, 5, 2016, 3), {'DATA': 0, 'MES': 1, 'DIA': 2, 'ANO': 3, 'SEMANA': 4})
Row((datetime.date(2016, 1, 6), 1, 6, 2016, 4), {'DATA': 0, 'MES': 1, 'DIA': 2, 'ANO': 3, 'SEMANA': 4})
Row((datetime.date(2016, 1, 7), 1, 7, 2016, 5), {'DATA': 0, 'MES': 1, 'DIA': 2, 'ANO': 3, 'SEMANA': 4})
Row((datetime.date(2016, 1, 8), 1, 8, 2016, 6), {'DATA': 0, 'MES': 1, 'DIA': 2, 'ANO': 3, 'SEMANA': 4})
Row((datetime.date(2016, 1, 9), 1, 9, 2016, 7), {'DATA': 0, 'MES': 1, 'DIA': 2, 'ANO': 3, 'SEMANA': 4})

In [72]:
QUERY = """

SELECT 
  DATETIME_ADD(CURRENT_DATETIME, INTERVAL 90 DAY), 
  LAST_DAY(DATETIME_ADD(CURRENT_DATETIME, INTERVAL 90 DAY), MONTH),
  LAST_DAY(DATETIME_ADD(CURRENT_DATETIME, INTERVAL 90 DAY), YEAR);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((datetime.datetime(2022, 6, 9, 15, 30, 20, 604311), datetime.date(2022, 6, 30), datetime.date(2022, 12, 31)), {'f0_': 0, 'f1_': 1, 'f2_': 2})

In [68]:
QUERY = """

SELECT CURRENT_DATETIME, FORMAT_DATETIME('%A, Dia %d de %B de %Y', CURRENT_DATETIME);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((datetime.datetime(2022, 3, 11, 15, 29, 50, 132086), 'Friday, Dia 11 de March de 2022'), {'f0_': 0, 'f1_': 1})

In [69]:
QUERY = """

SELECT
  visitStartTime FROM
 `bigquery-public-data.google_analytics_sample.ga_sessions_20170731`
LIMIT 10;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((1501510253,), {'visitStartTime': 0})
Row((1501510671,), {'visitStartTime': 0})
Row((1501521633,), {'visitStartTime': 0})
Row((1501504214,), {'visitStartTime': 0})
Row((1501488776,), {'visitStartTime': 0})
Row((1501486021,), {'visitStartTime': 0})
Row((1501542605,), {'visitStartTime': 0})
Row((1501495774,), {'visitStartTime': 0})
Row((1501517209,), {'visitStartTime': 0})
Row((1501512811,), {'visitStartTime': 0})

In [70]:
QUERY = """

SELECT
  visitStartTime, TIMESTAMP_SECONDS(visitStartTime) FROM
 `bigquery-public-data.google_analytics_sample.ga_sessions_20170731`
LIMIT 10;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((1501510253, datetime.datetime(2017, 7, 31, 14, 10, 53, tzinfo=datetime.timezone.utc)), {'visitStartTime': 0, 'f0_': 1})
Row((1501510671, datetime.datetime(2017, 7, 31, 14, 17, 51, tzinfo=datetime.timezone.utc)), {'visitStartTime': 0, 'f0_': 1})
Row((1501521633, datetime.datetime(2017, 7, 31, 17, 20, 33, tzinfo=datetime.timezone.utc)), {'visitStartTime': 0, 'f0_': 1})
Row((1501504214, datetime.datetime(2017, 7, 31, 12, 30, 14, tzinfo=datetime.timezone.utc)), {'visitStartTime': 0, 'f0_': 1})
Row((1501488776, datetime.datetime(2017, 7, 31, 8, 12, 56, tzinfo=datetime.timezone.utc)), {'visitStartTime': 0, 'f0_': 1})
Row((1501486021, datetime.datetime(2017, 7, 31, 7, 27, 1, tzinfo=datetime.timezone.utc)), {'visitStartTime': 0, 'f0_': 1})
Row((1501542605, datetime.datetime(2017, 7, 31, 23, 10, 5, tzinfo=datetime.timezone.utc)), {'visitStartTime': 0, 'f0_': 1})
Row((1501495774, datetime.datetime(2017, 7, 31, 10, 9, 34, tzinfo=datetime.timezone.utc)), {'visitStartTime': 0, 'f0_': 1})
Row((1501517209, datetime.datetime(2017, 7, 31, 16, 6, 49, tzinfo=datetime.timezone.utc)), {'visitStartTime': 0, 'f0_': 1})
Row((1501512811, datetime.datetime(2017, 7, 31, 14, 53, 31, tzinfo=datetime.timezone.utc)), {'visitStartTime': 0, 'f0_': 1})

In [71]:
QUERY = """

SELECT CURRENT_TIMESTAMP, UNIX_SECONDS(CURRENT_TIMESTAMP);

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((datetime.datetime(2022, 3, 11, 15, 29, 55, 516207, tzinfo=datetime.timezone.utc), 1647012595), {'f0_': 0, 'f1_': 1})

In [73]:
QUERY = """

SELECT ST_GEOGPOINT(longitude, latitude) AS Station, num_bikes_available
FROM 
`bigquery-public-data.new_york.citibike_stations`
WHERE num_bikes_available > 10;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('POINT(-74.0784059464931 40.7246050998869)', 18), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.0428841114044 40.72165072488)', 18), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.98302136 40.6853761)', 18), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.00722156 40.70862144)', 19), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.97129668 40.69573398)', 19), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.92535 40.70538)', 16), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9342 40.77485)', 19), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.928747 40.830179)', 19), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.900277 40.839586)', 19), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.902534 40.762507)', 17), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9230939745903 40.8589044753841)', 18), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.027472 40.638799)', 19), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.020005 40.635679)', 20), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.922661 40.862562)', 18), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9333 40.702831)', 20), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.900063 40.775415)', 21), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.977739 40.650739)', 21), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.922648 40.866141)', 22), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.99379025 40.72743423)', 22), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.011295735836 40.7277140777778)', 18), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.92153 40.705614)', 22), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.93581 40.707174)', 22), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.914688 40.822215)', 23), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.921417593956 40.861281970751)', 23), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.975988 40.651745)', 22), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.0147262811661 40.6758329439129)', 23), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.919911 40.704876)', 24), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.0271502733231 40.7499849090714)', 24), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.0170168876648 40.6781838797765)', 24), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9826591312885 40.7233468321802)', 24), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9073014632277 40.8361791367748)', 25), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9437303 40.7016657)', 25), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.923711 40.707165)', 27), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.917946 40.840484)', 30), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.00422 40.654144)', 30), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.98990025 40.71427487)', 30), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9912551 40.76019252)', 23), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.00697 40.73498)', 29), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.026081 40.646475)', 31), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9559308 40.8038654)', 31), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9912777394056 40.6854240099702)', 32), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.990993 40.72769)', 32), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.925591 40.861382)', 33), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.99147535 40.72229346)', 34), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.002950346 40.749717753)', 29), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.99440329 40.6849894)', 34), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9999786 40.69165183)', 35), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.948800265789 40.7176619708399)', 38), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.01234218 40.70122128)', 35), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.000271 40.735238)', 35), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.954692 40.805159)', 36), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.985649 40.673746)', 37), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.99565293 40.72456089)', 36), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.00247214 40.71939226)', 38), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.99931783 40.73935542)', 36), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.97513 40.75863)', 26), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.940636 40.7031724)', 42), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.999304920435 40.7251173442239)', 40), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9488539099693 40.7191557169604)', 43), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9951018989086 40.7261560498041)', 40), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.98014437 40.75500254)', 37), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.0016585588455 40.7249467235942)', 40), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.98564945 40.72779126)', 22), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9830426871777 40.6896218879033)', 45), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.005141 40.745686)', 47), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.000472 40.726378)', 48), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.98409214 40.74025878)', 48), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.00297088 40.72710258)', 53), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.99906065 40.73047747)', 56), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.99069656 40.72502876)', 51), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.00197139 40.7454973)', 55), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.95818491 40.76500525)', 11), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.0389144420624 40.7183551982321)', 13), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.911034 40.800425)', 13), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9538746 40.6630619)', 16), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.91945 40.70636)', 15), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.0836394 40.7182113)', 17), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.066921 40.737711)', 17), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9946848154068 40.7505853470215)', 15), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.94976519 40.70538077)', 18), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.92965 40.817755)', 17), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.921411 40.820036)', 18), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.929327 40.826677)', 18), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.927311 40.825737)', 17), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.917256 40.844075)', 18), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.001141 40.657743)', 18), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.001131 40.654098)', 18), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.0016256 40.68763155)', 18), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.92976 40.70539)', 18), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.95161 40.73124)', 17), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9351 40.704508)', 20), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9179 40.70108)', 20), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.914737 40.817166)', 20), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.919228 40.840536)', 20), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.92243 40.83406)', 19), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.91227 40.68858)', 21), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.0119555592537 40.6736355134151)', 22), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.93734 40.71019)', 22), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.011405 40.651173)', 22), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.89615 40.85556)', 21), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.99293911 40.71406667)', 23), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.93323 40.71429)', 23), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.998633 40.660079)', 23), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9904394 40.668603)', 23), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.92157 40.70907)', 23), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.042817056179 40.7145840353589)', 25), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.927311 40.810893)', 25), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.001328 40.671409)', 25), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.00016545 40.71117416)', 26), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.95866 40.73564)', 23), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9907902479172 40.681990442707)', 25), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.951475 40.804372)', 26), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.92095 40.7027)', 25), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.928939 40.822217)', 26), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.99839279 40.7500727)', 26), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.928947 40.820089)', 28), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.979239 40.642809)', 28), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.93921 40.70099)', 28), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.97058 40.648481)', 29), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.972432 40.648055)', 28), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.972573 40.652563)', 29), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9490782 40.8025566)', 28), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9552013576031 40.7181696945421)', 28), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.015665 40.677236)', 31), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.989111 40.722055)', 31), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.99810231 40.72917025)', 32), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.01677685 40.70569254)', 34), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.99682619 40.71117444)', 33), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.98901629 40.6843549)', 34), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.95416 40.78385)', 32), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9916110038757 40.7099180692153)', 33), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.981095 40.714211)', 30), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.000939 40.735918)', 34), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9536 40.757284)', 38), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.00293877 40.73401143)', 39), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.00925 40.71703)', 42), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9966213703155 40.7270636334831)', 41), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.013942 40.701907)', 45), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9911603927612 40.6884890563924)', 46), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.00910627 40.71473993)', 48), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.996732 40.714193)', 46), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.98713956 40.7284186)', 47), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.955736 40.724055)', 53), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9919254 40.72110063)', 60), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9886 40.68917)', 64), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.01713445 40.70834698)', 70), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.00451887 40.74691959)', 73), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.94708417 40.69957608)', 17), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.912411 40.819823)', 17), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.900216 40.843079)', 17), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.885272 40.832649)', 17), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.926907 40.822351)', 17), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.896293 40.76817)', 15), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.015606 40.650176)', 17), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.008906 40.652512)', 17), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.013587 40.652502)', 17), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.911503 40.871094)', 17), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.911359 40.84741)', 17), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.92006 40.862638)', 16), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.948852 40.74252)', 19), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.929153 40.812304)', 16), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.931015 40.829797)', 18), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.925101 40.83263)', 19), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.995549 40.666168)', 19), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.926994 40.863124)', 18), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.8818756582 40.8704956)', 18), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.03805095 40.7211236)', 20), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.046304543 40.72152515)', 17), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.013821 40.638196)', 20), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.97355569 40.69580705)', 21), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.99785768 40.6746957)', 19), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.951947 40.824686)', 21), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.003101 40.655278)', 21), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.0053626894951 40.7278970140902)', 23), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.95484712 40.72079821)', 25), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.99318208 40.6829151)', 22), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.923769 40.702013)', 25), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.92818 40.82441)', 25), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9441232 40.7954121)', 27), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.972212 40.651566)', 26), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.933871 40.706237)', 26), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.0277805924416 40.7369822181872)', 28), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.97877 40.69178)', 29), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.88145 40.86814)', 30), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.00666661 40.71911552)', 31), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9756733179092 40.6809447234773)', 28), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9949 40.72054)', 28), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9766496419907 40.6870023129262)', 32), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.99383605 40.70277159)', 36), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.011169 40.679043)', 36), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.918598 40.864632)', 37), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.98783413 40.72467721)', 38), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.0135595202446 40.7080658238065)', 39), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.98997825 40.72019576)', 35), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.98978041 40.7262807)', 38), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.002751 40.708485)', 41), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.978776 40.690065)', 44), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.97803415 40.69608941)', 50), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9616507291794 40.7203677529846)', 48), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.97632328 40.68382604)', 56), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.98775226 40.6750705)', 77), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.0666109323502 40.7143583687043)', 11), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.0351110696793 40.7422579775645)', 15), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.941764831543 40.7437524099784)', 14), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.92997 40.702997)', 16), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.959089 40.820003)', 16), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.916071 40.819609)', 15), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.998194 40.656986)', 16), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.995068 40.659555)', 16), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.0867006778717 40.7065754506345)', 15), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.022141 40.637033)', 16), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.920827 40.863211)', 16), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.90549 40.83999)', 17), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.914311 40.845505)', 17), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9482128620148 40.7163803197356)', 18), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.917775 40.703545)', 19), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.0400409698486 40.7431399396563)', 19), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.0379770100117 40.7464126483772)', 19), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-74.03097 40.73736)', 19), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.98208968 40.6704836)', 18), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.92836 40.704425)', 20), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.924963 40.814469)', 20), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.896849 40.772899)', 19), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9898300170898 40.6726029815013)', 21), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.998623 40.662611)', 21), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.99333264 40.6685455)', 22), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.99480012 40.72317958)', 21), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.99404649 40.72903917)', 18), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.98541675 40.6704922)', 22), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9485678 40.7552433)', 23), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.925294 40.818154)', 23), {'Station': 0, 'num_bikes_available': 1})
Row(('POINT(-73.9479119 40.7519071)', 25), {'Station': 0, 'num_bikes_available': 1})

In [74]:
QUERY = """

SELECT ST_MAKELINE(ARRAY_AGG(Ponto)) as Linha FROM 
(SELECT ST_GEOGPOINT(-22.9349, -43.1730) AS Ponto
UNION ALL SELECT ST_GEOGPOINT(-22.9365, -43.1771));

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('LINESTRING(-22.9349 -43.173, -22.9365 -43.1771)',), {'Linha': 0})

In [75]:
QUERY = """

SELECT ST_DISTANCE (ST_GEOGPOINT(-22.9349, -43.1730),
                    ST_GEOGPOINT(-22.9365, -43.1771))
AS Distancia;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((474.0027455712839,), {'Distancia': 0})

In [76]:
QUERY = """

SELECT ST_MAKEPOLYGON(ST_MAKELINE(ARRAY_AGG(Ponto))) as Poligono FROM 
(SELECT ST_GEOGPOINT(-22.9349, -43.1730) AS Ponto
UNION ALL SELECT ST_GEOGPOINT(-22.9365, -43.1771)
UNION ALL SELECT ST_GEOGPOINT(-22.9375, -43.1781));

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('POLYGON((-22.9375 -43.1781, -22.9365 -43.1771, -22.9349 -43.173, -22.9375 -43.1781))',), {'Poligono': 0})

In [77]:
QUERY = """

SELECT ST_AREA(ST_MAKEPOLYGON(ST_MAKELINE(ARRAY_AGG(Ponto)))) as Area FROM 
(SELECT ST_GEOGPOINT(-22.9349, -43.1730) AS Ponto
UNION ALL SELECT ST_GEOGPOINT(-22.9365, -43.1771)
UNION ALL SELECT ST_GEOGPOINT(-22.9375, -43.1781));

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((11269.888564023773,), {'Area': 0})

In [82]:
QUERY = """

WITH TAB_IDADE AS (
SELECT NOME, DATE_DIFF(CURRENT_DATE, DATA_DE_NASCIMENTO, YEAR) AS IDADE_ATUAL, IDADE 
FROM `modified-ripsaw-343701.sucos_vendas.tabela_de_clientes`)

SELECT NOME, IDADE_ATUAL, IDADE,
CASE WHEN (IDADE_ATUAL - IDADE) <> 0 THEN 'IDADE NÃO BATE'
ELSE 'IDADE BATE COM A BASE DE DADOS' END AS RESULTADO FROM TAB_IDADE
LIMIT 20;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row(('Érica Carvalho', 32, 27, 'IDADE NÃO BATE'), {'NOME': 0, 'IDADE_ATUAL': 1, 'IDADE': 2, 'RESULTADO': 3})
Row(('Petra Oliveira', 27, 22, 'IDADE NÃO BATE'), {'NOME': 0, 'IDADE_ATUAL': 1, 'IDADE': 2, 'RESULTADO': 3})
Row(('Gabriel Araujo', 37, 32, 'IDADE NÃO BATE'), {'NOME': 0, 'IDADE_ATUAL': 1, 'IDADE': 2, 'RESULTADO': 3})
Row(('Marcelo Mattos', 30, 25, 'IDADE NÃO BATE'), {'NOME': 0, 'IDADE_ATUAL': 1, 'IDADE': 2, 'RESULTADO': 3})
Row(('Valdeci da Silva', 27, 22, 'IDADE NÃO BATE'), {'NOME': 0, 'IDADE_ATUAL': 1, 'IDADE': 2, 'RESULTADO': 3})
Row(('Carlos Eduardo', 39, 34, 'IDADE NÃO BATE'), {'NOME': 0, 'IDADE_ATUAL': 1, 'IDADE': 2, 'RESULTADO': 3})
Row(('Fernando Cavalcante', 22, 18, 'IDADE NÃO BATE'), {'NOME': 0, 'IDADE_ATUAL': 1, 'IDADE': 2, 'RESULTADO': 3})
Row(('César Teixeira', 22, 18, 'IDADE NÃO BATE'), {'NOME': 0, 'IDADE_ATUAL': 1, 'IDADE': 2, 'RESULTADO': 3})
Row(('Marcos Nougeuira', 27, 23, 'IDADE NÃO BATE'), {'NOME': 0, 'IDADE_ATUAL': 1, 'IDADE': 2, 'RESULTADO': 3})
Row(('Eduardo Jorge', 28, 23, 'IDADE NÃO BATE'), {'NOME': 0, 'IDADE_ATUAL': 1, 'IDADE': 2, 'RESULTADO': 3})
Row(('Abel Silva ', 27, 22, 'IDADE NÃO BATE'), {'NOME': 0, 'IDADE_ATUAL': 1, 'IDADE': 2, 'RESULTADO': 3})
Row(('Paulo César Mattos', 31, 26, 'IDADE NÃO BATE'), {'NOME': 0, 'IDADE_ATUAL': 1, 'IDADE': 2, 'RESULTADO': 3})
Row(('Edson Meilelles', 27, 22, 'IDADE NÃO BATE'), {'NOME': 0, 'IDADE_ATUAL': 1, 'IDADE': 2, 'RESULTADO': 3})
Row(('Walber Lontra', 33, 28, 'IDADE NÃO BATE'), {'NOME': 0, 'IDADE_ATUAL': 1, 'IDADE': 2, 'RESULTADO': 3})
Row(('Fábio Carvalho', 30, 16, 'IDADE NÃO BATE'), {'NOME': 0, 'IDADE_ATUAL': 1, 'IDADE': 2, 'RESULTADO': 3})

In [81]:
QUERY = """

SELECT CPF, NOME, CONCAT(ENDERECO_1, ' ', BAIRRO, ' ', CIDADE, ' ', ESTADO, ' ', CEP) AS ENDERECO_COMPLETO 
FROM `modified-ripsaw-343701.sucos_vendas.tabela_de_clientes`
ORDER BY NOME 
LIMIT 20;

"""

query_job = bigquery_client.query(QUERY)
for row in query_job.result():  
    print(row)

Row((50534475787, 'Abel Silva ', 'Rua Humaitá Humaitá Rio de Janeiro RJ 22000212'), {'CPF': 0, 'NOME': 1, 'ENDERECO_COMPLETO': 2})
Row((8719655770, 'Carlos Eduardo', 'Av. Gen. Guedes da Fontoura Jardins São Paulo SP 81192002'), {'CPF': 0, 'NOME': 1, 'ENDERECO_COMPLETO': 2})
Row((2600586709, 'César Teixeira', 'Rua Conde de Bonfim Tijuca Rio de Janeiro RJ 22020001'), {'CPF': 0, 'NOME': 1, 'ENDERECO_COMPLETO': 2})
Row((9283760794, 'Edson Meilelles', 'R. Pinto de Azevedo Cidade Nova Rio de Janeiro RJ 22002002'), {'CPF': 0, 'NOME': 1, 'ENDERECO_COMPLETO': 2})
Row((492472718, 'Eduardo Jorge', 'R. Volta Grande Tijuca Rio de Janeiro RJ 22012002'), {'CPF': 0, 'NOME': 1, 'ENDERECO_COMPLETO': 2})
Row((19290992743, 'Fernando Cavalcante', 'R. Dois de Fevereiro Água Santa Rio de Janeiro RJ 22000000'), {'CPF': 0, 'NOME': 1, 'ENDERECO_COMPLETO': 2})
Row((95939180787, 'Fábio Carvalho', 'R. dos Jacarandás da Península Barra da Tijuca Rio de Janeiro RJ 22002020'), {'CPF': 0, 'NOME': 1, 'ENDERECO_COMPLETO': 2})
Row((5840119709, 'Gabriel Araujo', 'R. Manuel de Oliveira Santo Amaro São Paulo SP 80010221'), {'CPF': 0, 'NOME': 1, 'ENDERECO_COMPLETO': 2})
Row((7771579779, 'Marcelo Mattos', 'R. Eduardo Luís Lopes Brás São Paulo SP 88202912'), {'CPF': 0, 'NOME': 1, 'ENDERECO_COMPLETO': 2})
Row((3623344710, 'Marcos Nougeuira', 'Av. Pastor Martin Luther King Junior Inhauma Rio de Janeiro RJ 22002012'), {'CPF': 0, 'NOME': 1, 'ENDERECO_COMPLETO': 2})
Row((5648641702, 'Paulo César Mattos', 'Rua Hélio Beltrão Tijuca Rio de Janeiro RJ 21002020'), {'CPF': 0, 'NOME': 1, 'ENDERECO_COMPLETO': 2})
Row((5576228758, 'Petra Oliveira', 'R. Benício de Abreu Lapa São Paulo SP 88192029'), {'CPF': 0, 'NOME': 1, 'ENDERECO_COMPLETO': 2})
Row((8502682733, 'Valdeci da Silva', 'R. Srg. Édison de Oliveira Jardins São Paulo SP 82122020'), {'CPF': 0, 'NOME': 1, 'ENDERECO_COMPLETO': 2})
Row((94387575700, 'Walber Lontra', 'R. Cel. Almeida Piedade Rio de Janeiro RJ 22000201'), {'CPF': 0, 'NOME': 1, 'ENDERECO_COMPLETO': 2})
Row((1471156710, 'Érica Carvalho', 'R. Iriquitia Jardins São Paulo SP 80012212'), {'CPF': 0, 'NOME': 1, 'ENDERECO_COMPLETO': 2})